v2/jaxr-api/schema/Registry.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--
 The contents of this file are subject to the terms 
 of the Common Development and Distribution License 
 (the License).  You may not use this file except in
 compliance with the License.
 
 You can obtain a copy of the license at 
 https://glassfish.dev.java.net/public/CDDLv1.0.html or
 glassfish/bootstrap/legal/CDDLv1.0.txt.
 See the License for the specific language governing 
 permissions and limitations under the License.
 
 When distributing Covered Code, include this CDDL 
 Header Notice in each file and include the License file 
 at glassfish/bootstrap/legal/CDDLv1.0.txt.  
 If applicable, add the following below the CDDL Header, 
 with the fields enclosed by brackets [] replaced by
 you own identifying information: 
 "Portions Copyrighted [year] [name of copyright owner]"
 
 Copyright 2007 Sun Microsystems, Inc. All rights reserved.
-->
<!--Generated by XML Authority. Conforms to w3c http://www.w3.org/2000/10/XMLSchema-->
<xsd:schema xmlns:xsd = "http://www.w3.org/2000/10/XMLSchema">
	<xsd:attributeGroup name = "ManagedObjectAttributes">
		<xsd:attributeGroup ref = "ObjectAttributes"/>
		<xsd:attribute name = "name" use = "required" type = "xsd:string"/>
		<xsd:attribute name = "status" use = "default" value = "Submitted">
			<xsd:simpleType>
				<xsd:restriction base = "xsd:NMTOKEN">
					<xsd:enumeration value = "Submitted"/>
					<xsd:enumeration value = "Approved"/>
					<xsd:enumeration value = "Deployed"/>
					<xsd:enumeration value = "Deprecated"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name = "majorVersion" use = "default" value = "1" type = "xsd:positiveInteger"/>
		<xsd:attribute name = "minorVersion" use = "default" value = "0" type = "xsd:positiveInteger"/>
	</xsd:attributeGroup>
	<xsd:attributeGroup name = "ObjectAttributes">
		<xsd:attribute name = "uuid" use = "required" type = "xsd:string"/>
		<xsd:attribute name = "description" type = "xsd:string"/>
	</xsd:attributeGroup>
	<xsd:attributeGroup name = "IntrinsicObjectAttributes">
		<xsd:attributeGroup ref = "ManagedObjectAttributes"/>
	</xsd:attributeGroup>
	<xsd:attributeGroup name = "TelephoneNumberAttributes">
		<xsd:attribute name = "areaCode" use = "required" type = "xsd:string"/>
		<xsd:attribute name = "contryCode" use = "required" type = "xsd:string"/>
		<xsd:attribute name = "extension" type = "xsd:string"/>
		<xsd:attribute name = "number" use = "required" type = "xsd:string"/>
		<xsd:attribute name = "url" type = "xsd:string"/>
	</xsd:attributeGroup>
	<xsd:element name = "RequestAcceptedResponse">
		<xsd:complexType>
			<xsd:sequence/>
			<xsd:attribute name = "xml:lang" use = "required" type = "xsd:NMTOKEN"/>
			<xsd:attribute name = "interfaceId" use = "required" type = "xsd:string"/>
			<xsd:attribute name = "requestMessage" use = "required" type = "xsd:string"/>
			<xsd:attribute name = "actionId" use = "required" type = "xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "ebXMLError">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "ErrorHeader"/>
				<xsd:element ref = "ErrorLocation" minOccurs = "0" maxOccurs = "unbounded"/>
			</xsd:sequence>
			<xsd:attribute name = "xml:lang" use = "required" type = "xsd:NMTOKEN"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "ErrorHeader">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "Severity"/>
				<xsd:element ref = "ErrorCode"/>
				<xsd:element ref = "ErrorDesc" minOccurs = "0"/>
				<xsd:element ref = "MinRetrySecs" minOccurs = "0"/>
			</xsd:sequence>
			<xsd:attribute name = "ID" use = "required" type = "xsd:NMTOKEN"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "Severity" type = "xsd:string"/>
	<xsd:element name = "ErrorCode" type = "xsd:string"/>
	<xsd:element name = "ErrorDesc" type = "xsd:string"/>
	<xsd:element name = "MinRetrySecs" type = "xsd:string"/>
	<xsd:element name = "SwVendorErrorRef" type = "xsd:string"/>
	<xsd:element name = "ErrorLocation">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "RefToMessageId" minOccurs = "0"/>
				<xsd:choice>
					<xsd:element ref = "Href"/>
					<xsd:element ref = "XMLDocumentErrorLocn"/>
				</xsd:choice>
			</xsd:sequence>
			<xsd:attribute name = "ID" use = "required" type = "xsd:NMTOKEN"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "RefToMessageId" type = "xsd:string"/>
	<xsd:element name = "Href" type = "xsd:string"/>
	<xsd:element name = "XMLDocumentErrorLocn">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "DocumentId"/>
				<xsd:element ref = "Xpath"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "DocumentId" type = "xsd:string"/>
	<xsd:element name = "Xpath" type = "xsd:string"/>
	<xsd:element name = "ManagedObject">
		<xsd:complexType>
			<xsd:sequence/>
			<xsd:attributeGroup ref = "ManagedObjectAttributes"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "ExtrinsicObject">
		<xsd:complexType>
			<xsd:sequence/>
			<xsd:attributeGroup ref = "ManagedObjectAttributes"/>
			<xsd:attribute name = "uri" type = "xsd:string"/>
			<xsd:attribute name = "objectType" use = "required">
				<xsd:simpleType>
					<xsd:restriction base = "xsd:NMTOKEN">
						<xsd:enumeration value = "UserDefined"/>
						<xsd:enumeration value = "Schema"/>
						<xsd:enumeration value = "Process"/>
						<xsd:enumeration value = "PartyProfile"/>
						<xsd:enumeration value = "ServiceInterface"/>
						<xsd:enumeration value = "BusinessService"/>
						<xsd:enumeration value = "Role"/>
						<xsd:enumeration value = "Transport"/>
						<xsd:enumeration value = "Association"/>
						<xsd:enumeration value = "ClassificationNode"/>
						<xsd:enumeration value = "Classification"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name = "mimeType" type = "xsd:string"/>
			<xsd:attribute name = "opaque" use = "default" value = "false" type = "xsd:boolean"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "IntrinsicObject">
		<xsd:complexType>
			<xsd:sequence/>
			<xsd:attributeGroup ref = "ManagedObjectAttributes"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "ManagedObjectList">
		<xsd:complexType>
			<xsd:choice minOccurs = "0" maxOccurs = "unbounded">
				<xsd:element ref = "Association"/>
				<xsd:element ref = "Classification"/>
				<xsd:element ref = "ClassificationNode"/>
				<xsd:element ref = "ExternalLink"/>
				<xsd:element ref = "Organization"/>
				<xsd:element ref = "ExtrinsicObject"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "ObjectRef">
		<xsd:complexType>
			<xsd:sequence/>
			<xsd:attribute name = "uuid" use = "required" type = "xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "ObjectRefList">
		<xsd:complexType>
			<xsd:sequence minOccurs = "0" maxOccurs = "unbounded">
				<xsd:element ref = "ObjectRef"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "ExternalLink">
		<xsd:complexType>
			<xsd:sequence/>
			<xsd:attributeGroup ref = "IntrinsicObjectAttributes"/>
			<xsd:attribute name = "sourceObjectRef" type = "xsd:string"/>
			<xsd:attribute name = "uri" type = "xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "ExternalLinkList">
		<xsd:complexType>
			<xsd:sequence minOccurs = "0" maxOccurs = "unbounded">
				<xsd:element ref = "ExternalLink"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "Association">
		<xsd:complexType>
			<xsd:sequence/>
			<xsd:attributeGroup ref = "IntrinsicObjectAttributes"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "AssociationList">
		<xsd:complexType>
			<xsd:sequence minOccurs = "0" maxOccurs = "unbounded">
				<xsd:element ref = "Association"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "Classification">
		<xsd:complexType>
			<xsd:sequence/>
			<xsd:attributeGroup ref = "IntrinsicObjectAttributes"/>
			<xsd:attribute name = "sourceObjectRef" use = "required" type = "xsd:string"/>
			<xsd:attribute name = "targetObjectRef" use = "required" type = "xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "ClassificationList">
		<xsd:complexType>
			<xsd:sequence minOccurs = "0" maxOccurs = "unbounded">
				<xsd:element ref = "Classification"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "TelephoneNumber">
		<xsd:complexType>
			<xsd:sequence/>
			<xsd:attributeGroup ref = "TelephoneNumberAttributes"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "FaxNumber">
		<xsd:complexType>
			<xsd:sequence/>
			<xsd:attributeGroup ref = "TelephoneNumberAttributes"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "MobileTelephoneNumber">
		<xsd:complexType>
			<xsd:sequence/>
			<xsd:attributeGroup ref = "TelephoneNumberAttributes"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "PostalAddress">
		<xsd:complexType>
			<xsd:sequence/>
			<xsd:attribute name = "city" use = "required" type = "xsd:string"/>
			<xsd:attribute name = "country" use = "required" type = "xsd:string"/>
			<xsd:attribute name = "postalCode" use = "required" type = "xsd:string"/>
			<xsd:attribute name = "state" use = "required" type = "xsd:string"/>
			<xsd:attribute name = "street" use = "required" type = "xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "PersonName">
		<xsd:complexType>
			<xsd:sequence/>
			<xsd:attribute name = "firstName" use = "required" type = "xsd:string"/>
			<xsd:attribute name = "middleName" use = "required" type = "xsd:string"/>
			<xsd:attribute name = "lastName" use = "required" type = "xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "Contact">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "PostalAddress"/>
				<xsd:element ref = "PersonName"/>
				<xsd:element ref = "FaxNumber" minOccurs = "0"/>
				<xsd:element ref = "TelephoneNumber"/>
				<xsd:element ref = "MobileTelephoneNumber" minOccurs = "0"/>
			</xsd:sequence>
			<xsd:attribute name = "email" use = "required" type = "xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "Organization">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "PostalAddress"/>
				<xsd:element ref = "Contact"/>
				<xsd:element ref = "FaxNumber" minOccurs = "0"/>
				<xsd:element ref = "TelephoneNumber"/>
			</xsd:sequence>
			<xsd:attributeGroup ref = "IntrinsicObjectAttributes"/>
			<xsd:attribute name = "parentOrganizationRef" type = "xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "SubmitObjectsRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "SubmittedObject" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "SubmittedObject">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "ExtrinsicObject" minOccurs = "0"/>
				<xsd:element ref = "ClassificationList" minOccurs = "0"/>
				<xsd:element ref = "AssociationList" minOccurs = "0"/>
				<xsd:element ref = "ExternalLinkList" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "ApproveObjectsRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "ObjectRefList"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "DeprecateObjectsRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "ObjectRefList"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "RemoveObjectsRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "ObjectRefList"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "ClassificationNode">
		<xsd:complexType>
			<xsd:sequence/>
			<xsd:attributeGroup ref = "IntrinsicObjectAttributes"/>
			<xsd:attribute name = "parentRef" type = "xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "ClassificationNodeList">
		<xsd:complexType>
			<xsd:sequence minOccurs = "0" maxOccurs = "unbounded">
				<xsd:element ref = "ClassificationNode"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "GetRootClassificationNodesRequest">
		<xsd:complexType>
			<xsd:sequence/>
			<xsd:attribute name = "namePattern" use = "default" value = "*" type = "xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "GetRootClassificationNodesResponse">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element ref = "ClassificationNodeList"/>
				<xsd:element ref = "ebXMLError"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "GetClassificationTreeRequest">
		<xsd:complexType>
			<xsd:sequence/>
			<xsd:attribute name = "parentRef" use = "required" type = "xsd:string"/>
			<xsd:attribute name = "depth" use = "default" value = "1" type = "xsd:int"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "GetClassificationTreeResponse">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element ref = "ClassificationNodeList"/>
				<xsd:element ref = "ebXMLError"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "GetClassifiedObjectsRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "ObjectRefList"/>
			</xsd:sequence>
			<xsd:attribute name = "objectType" use = "default" value = "*" type = "xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "GetClassifiedObjectsResponse">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element ref = "ManagedObjectList"/>
				<xsd:element ref = "ebXMLError"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "AdhocQueryRequest">
		<xsd:complexType>
			<xsd:sequence/>
			<xsd:attribute name = "queryString" use = "required" type = "xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "ObjectAttribute">
		<xsd:complexType>
			<xsd:sequence/>
			<xsd:attribute name = "attributeName" use = "required" type = "xsd:string"/>
			<xsd:attribute name = "attributeValue" use = "required" type = "xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "ObjectAttributeList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "ObjectAttribute" minOccurs = "0" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "AdhocQueryResponse">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element ref = "ObjectRefList"/>
				<xsd:element ref = "ObjectAttributeList"/>
				<xsd:element ref = "ebXMLError"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "GetContentRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "ObjectRefList"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "GetContentResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "ebXMLError" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "RootElement">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element ref = "RequestAcceptedResponse"/>
				<xsd:element ref = "ebXMLError"/>
				<xsd:element ref = "SubmitObjectsRequest"/>
				<xsd:element ref = "ApproveObjectsRequest"/>
				<xsd:element ref = "DeprecateObjectsRequest"/>
				<xsd:element ref = "RemoveObjectsRequest"/>
				<xsd:element ref = "GetRootClassificationNodesRequest"/>
				<xsd:element ref = "GetRootClassificationNodesResponse"/>
				<xsd:element ref = "GetClassificationTreeRequest"/>
				<xsd:element ref = "GetClassificationTreeResponse"/>
				<xsd:element ref = "GetClassifiedObjectsRequest"/>
				<xsd:element ref = "GetClassifiedObjectsResponse"/>
				<xsd:element ref = "AdhocQueryRequest"/>
				<xsd:element ref = "AdhocQueryResponse"/>
				<xsd:element ref = "GetContentRequest"/>
				<xsd:element ref = "GetContentResponse"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>