appserver/tests/v2-tests/appserv-tests/devtestsNG/corba/timer/tests/test/timing.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT timing (timer|timerGroup)+>
<!ATTLIST timing 
	name CDATA #REQUIRED
	package CDATA #REQUIRED>
<!ELEMENT timer EMPTY>
<!ATTLIST timer 
	name CDATA #REQUIRED
	description CDATA #IMPLIED>
<!ELEMENT timerGroup (contains)*>
<!ATTLIST timerGroup 
	name CDATA #REQUIRED
	description CDATA #IMPLIED>
<!ELEMENT contains EMPTY>
<!ATTLIST contains name CDATA #REQUIRED>
