v2/appserv-tests/devtests/webservice/jbi-serviceengine/oneway/soap-binding-su-alaska/su/CalculatorService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://example.web.service/OneWay" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="subtract" type="ns1:subtract" xmlns:ns1="http://example.web.service/OneWay"/>

  <xs:complexType name="subtract">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
      <xs:element name="arg1" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

