tests/jbi/soapfault/se_provider/soap-binding-su-alaska/su/CalculatorService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.2-hudson-112-M1. -->
<definitions targetNamespace="http://example.com/Calculator" name="CalculatorService" xmlns:tns="http://example.com/Calculator" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <wsp:UsingPolicy/>
  <wsp:Policy wsu:Id="CalculatorPortBinding_throwApplicationException_WSAT_Policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <ns1:ATAlwaysCapability wsp:Optional="false" xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/10/wsat"/>
        <ns2:ATAssertion ns3:Optional="true" wsp:Optional="true" xmlns:ns3="http://schemas.xmlsoap.org/ws/2002/12/policy" xmlns:ns2="http://schemas.xmlsoap.org/ws/2004/10/wsat"/>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="CalculatorPortBinding_throwRuntimeException_WSAT_Policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <ns4:ATAlwaysCapability wsp:Optional="false" xmlns:ns4="http://schemas.xmlsoap.org/ws/2004/10/wsat"/>
        <ns5:ATAssertion ns6:Optional="true" wsp:Optional="true" xmlns:ns5="http://schemas.xmlsoap.org/ws/2004/10/wsat" xmlns:ns6="http://schemas.xmlsoap.org/ws/2002/12/policy"/>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <types>
    <xsd:schema>
      <xsd:import namespace="http://example.com/Calculator" schemaLocation="CalculatorService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="throwRuntimeException">
    <part name="parameters" element="tns:throwRuntimeException"/>
  </message>
  <message name="throwRuntimeExceptionResponse">
    <part name="parameters" element="tns:throwRuntimeExceptionResponse"/>
  </message>
  <message name="throwApplicationException">
    <part name="parameters" element="tns:throwApplicationException"/>
  </message>
  <message name="throwApplicationExceptionResponse">
    <part name="parameters" element="tns:throwApplicationExceptionResponse"/>
  </message>
  <message name="Exception">
    <part name="fault" element="tns:Exception"/>
  </message>
  <portType name="Calculator">
    <operation name="throwRuntimeException">
      <input message="tns:throwRuntimeException"/>
      <output message="tns:throwRuntimeExceptionResponse"/>
    </operation>
    <operation name="throwApplicationException">
      <input message="tns:throwApplicationException"/>
      <output message="tns:throwApplicationExceptionResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
  </portType>
  <binding name="CalculatorPortBinding" type="tns:Calculator">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="throwRuntimeException">
      <wsp:PolicyReference URI="#CalculatorPortBinding_throwRuntimeException_WSAT_Policy"/>
      <soap:operation soapAction="urn:ThrowRuntimeException"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="throwApplicationException">
      <wsp:PolicyReference URI="#CalculatorPortBinding_throwApplicationException_WSAT_Policy"/>
      <soap:operation soapAction="urn:ThrowApplicationException"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="CalculatorService">
    <port name="CalculatorPort" binding="tns:CalculatorPortBinding">
      <soap:address location="http://localhost:12011/calculatorendpoint"/>
    </port>
  </service>
</definitions>

