appserver/tests/v2-tests/appserv-tests/sqetests/jbi/helloca/projects/BankClientApp/src/jbiasa/BankService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<definitions targetNamespace="http://ejb.bank/" name="BankService" xmlns:tns="http://ejb.bank/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://ejb.bank/" schemaLocation="BankService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getCheckingAccountInterestRate">
    <part name="parameters" element="tns:getCheckingAccountInterestRate"/>
  </message>
  <message name="getCheckingAccountInterestRateResponse">
    <part name="parameters" element="tns:getCheckingAccountInterestRateResponse"/>
  </message>
  <message name="createAccount">
    <part name="parameters" element="tns:createAccount"/>
  </message>
  <message name="createAccountResponse">
    <part name="parameters" element="tns:createAccountResponse"/>
  </message>
  <message name="debit">
    <part name="parameters" element="tns:debit"/>
  </message>
  <message name="debitResponse">
    <part name="parameters" element="tns:debitResponse"/>
  </message>
  <portType name="Bank">
    <operation name="getCheckingAccountInterestRate">
      <input message="tns:getCheckingAccountInterestRate"/>
      <output message="tns:getCheckingAccountInterestRateResponse"/>
    </operation>
    <operation name="createAccount">
      <input message="tns:createAccount"/>
      <output message="tns:createAccountResponse"/>
    </operation>
    <operation name="debit">
      <input message="tns:debit"/>
      <output message="tns:debitResponse"/>
    </operation>
  </portType>
  <binding name="BankPortBinding" type="tns:Bank">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getCheckingAccountInterestRate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="createAccount">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="debit">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="BankService">
    <port name="BankPort" binding="tns:BankPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

