appserver/tests/v2-tests/appserv-tests/devtests/webservice/jbi-serviceengine/rpc_literal/bc_consumer_sc_provider/wsdl-import/wsdl/MessageTypes.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://example.web.service/Calculator" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://example.web.service/Calculator" name="CalculatorService">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://example.web.service/Calculator" schemaLocation="CalculatorService_schema1.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"/>
    </xsd:schema>
  </types>
  <message name="calculateIncomeTax">
    <part name="arg0" type="tns:incomeTaxDetails"/>
    <part name="arg1" type="tns:incomeTaxDetails"/>
    <part name="arg2" type="tns:incomeTaxDetails"/>
    <part name="arg3" type="tns:incomeTaxDetails"/>
    <part name="arg4" type="tns:incomeTaxDetails"/>
    <part name="arg5" type="tns:incomeTaxDetails"/>
    <part name="arg6" type="tns:incomeTaxDetails"/>
    <part name="arg7" type="tns:incomeTaxDetails"/>
    <part name="arg8" type="tns:incomeTaxDetails"/>
    <part name="arg9" type="tns:incomeTaxDetails"/>
  </message>
  <message name="calculateIncomeTaxResponse">
    <part name="return" type="xsd:long"/>
  </message>
  <message name="sayHi"/>
  <message name="sayHiResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="printHi"/>
  <message name="printHiResponse"/>
  <message name="printHiToMe">
    <part name="arg0" type="xsd:string"/>
  </message>
  <message name="printHiToMeResponse"/>
  <message name="add">
    <part name="int_1" type="xsd:int"/>
    <part name="int_2" type="xsd:int"/>
  </message>
  <message name="addResponse">
    <part name="return" type="xsd:int"/>
  </message>
  <message name="Exception">
    <part name="fault" element="tns:Exception"/>
  </message>
</definitions>
