v2/appserv-tests/devtests/webservice/jbi-serviceengine/bare_doc_literal/bc_consumer_se_provider/soap-binding-su-alaska/su/CalculatorService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://example.com/Calculator" xmlns:tns="http://example.com/Calculator" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="Exception" type="tns:Exception"/>

  <xs:element name="addResponse" type="xs:int"/>

  <xs:element name="number1" type="xs:int"/>

  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element name="message" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

