v2/appserv-tests/devtests/security/wss/permethod/servletws/wsdl/HelloServletService.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions name="HelloServletService" targetNamespace="http://hello.org/wsdl" xmlns:tns="http://hello.org/wsdl" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types/>
  <message name="HelloIF_sayHello">
    <part name="string" type="xsd:string"/>
  </message>
  <message name="HelloIF_sayHelloResponse">
    <part name="result" type="xsd:string"/>
  </message>
  <message name="HelloIF_sendSecret">
    <part name="string" type="xsd:string"/>
  </message>
  <message name="HelloIF_sendSecretResponse">
    <part name="result" type="xsd:int"/>
  </message>
  <message name="HelloIF_getSecret">
    <part name="string" type="xsd:double"/>
  </message>
  <message name="HelloIF_getSecretResponse">
    <part name="result" type="xsd:string"/>
  </message>
  <portType name="HelloIF">
    <operation name="sayHello">
      <input message="tns:HelloIF_sayHello"/>
      <output message="tns:HelloIF_sayHelloResponse"/>
    </operation>
    <operation name="sendSecret">
      <input message="tns:HelloIF_sendSecret"/>
      <output message="tns:HelloIF_sendSecretResponse"/>
    </operation>
    <operation name="getSecret">
      <input message="tns:HelloIF_getSecret"/>
      <output message="tns:HelloIF_getSecretResponse"/>
    </operation>
  </portType>
  <binding name="HelloIFBinding" type="tns:HelloIF">
    <operation name="sayHello">
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://hello.org/wsdl"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://hello.org/wsdl"/></output>
      <soap:operation soapAction=""/>
    </operation>
    <operation name="sendSecret">
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://hello.org/wsdl"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://hello.org/wsdl"/></output>
      <soap:operation soapAction=""/>
    </operation>
    <operation name="getSecret">
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://hello.org/wsdl"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://hello.org/wsdl"/></output>
      <soap:operation soapAction=""/>
    </operation>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>  </binding>
  <service name="HelloServletService">
    <port name="HelloIFPort" binding="tns:HelloIFBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>
