v2/admin-core/config-api/rng/connector-connection-pool.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
         xmlns:sch="http://www.ascc.net/xml/schematron"
         xmlns="http://relaxng.org/ns/structure/1.0"
         xmlns:x="http://www.w3.org/1999/xhtml"
         xmlns:ias="http://www.sun.com/ias/validation"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">

  <define name="connector-connection-pool">
    <element name="connector-connection-pool">
      <x:div class='dtd'>
        connector-connection-pool defines configuration used to create
        and manage a pool of connections to a EIS. Pool definition is
        named, and can be referred to by multiple connector-resource
        elements (See connector-resource).
        <x:p>
          Each named pool definition results in a pool instantiated at
          server start-up. Pool is populated when accessed for the
          first time. If two or more connector-resource elements point
          to the same connector-connection-pool element, they are
          using the same pool of connections, at run time.
        </x:p>
        <x:p>
          There can be more than one pool for one
          connection-definition in one resource-adapter.
        </x:p>
      </x:div>
      <ref name="connector-connection-pool-attlist"/>
      <optional>
        <ref name="description"/>
      </optional>
      <zeroOrMore>
        <ref name="security-map"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="property">
          <x:div class='dtd'>
            Properties are used to override the
            ManagedConnectionFactory javabean configuration settings.
            <x:p>
              When one or more of these properties are specified, they
              are passed as is using set&lt;Name&gt;(&lt;Value&gt;) methods to the
              Resource Adapter's ManagedConnectionfactory class
              (specified in ra.xml).
            </x:p>
          </x:div>
        </ref>
      </zeroOrMore>
    </element>
  </define>
  <define name="connector-connection-pool-attlist" combine="interleave">
    <attribute name="name" ias:type="key" ias:belongs-to="connector-connection-pools">
      <x:div class='dtd'>
        unique name of the pool definition.
      </x:div>
      <ref name="name-type"/>
    </attribute>
    <!-- <attribute name="resource-adapter-name" ias:belongs-to="resource-adapters"> -->
    <attribute name="resource-adapter-name">
      <x:div class='dtd'>
        This is the name of resource adapter. Name of .rar file is
        taken as the unique name for the resource adapter.
      </x:div>
    </attribute>
    <attribute name="connection-definition-name">
      <x:div class='dtd'>
        unique name, identifying one connection-definition in a
        Resource Adapter. Currently this is ConnectionFactory type.
      </x:div>
    </attribute>
    <optional>
      <attribute name="steady-pool-size" a:defaultValue="8">
        <x:div class='dtd'>
          minimum and initial number of connections maintained in the
          pool.
        </x:div>
	<data type="nonNegativeInteger"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="max-pool-size" a:defaultValue="32">
        <x:div class='dtd'>
          maximum number of conections that can be created
        </x:div>
	<data type="positiveInteger"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="max-wait-time-in-millis" a:defaultValue="60000">
        <x:div class='dtd'>
          amount of time the caller will wait before getting a
          connection timeout. The default is 60 seconds. A value of 0
          will force caller to wait indefinitely.
        </x:div>
	<data type="nonNegativeInteger"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="pool-resize-quantity" a:defaultValue="2" ias:le-than="@max-pool-size">
        <x:div class='dtd'>
          number of connections to be removed when
          idle-timeout-in-seconds timer expires. Connections that have
          idled for longer than the timeout are candidates for
          removal. When the pool size reaches steady-pool-size, the
          connection removal stops.
        </x:div>
	<data type="positiveInteger"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="idle-timeout-in-seconds" a:defaultValue="300">
        <x:div class='dtd'>
          maximum time in seconds, that a connection can remain idle
          in the pool. After this time, the pool implementation can
          close this connection.  Note that this does not control
          connection timeouts enforced at the database server
          side. Adminsitrators are advised to keep this timeout
          shorter than the EIS connection timeout (if such timeouts
          are configured on the specific EIS), to prevent accumulation
          of unusable connection in Application Server.
        </x:div>
	<data type="positiveInteger"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="fail-all-connections" a:defaultValue="false">
        <x:div class='dtd'>
          indicates if all connections in the pool must be closed
          should a single connection fail validation. The default is
          false. One attempt will be made to re-establish failed
          connections.
        </x:div>
        <ref name="boolean"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="transaction-support">
        <x:div class='dtd'>
          Indicates the level of transaction support that this pool
          will have. Possible values are "XATransaction",
          "LocalTransaction" and "NoTransaction". This attribute will
          override that transaction support attribute in the Resource
          Adapter in a downward compatible way, i.e it can support a
          lower/equal transaction level than specified in the RA, but
          not a higher level.
        </x:div>
	<choice>
	  <value>XATransaction</value>
	  <value>LocalTransaction</value>
	  <value>NoTransaction</value>
	</choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="is-connection-validation-required" a:defaultValue="false">
        <x:div class='dtd'>
            This attribute specifies if the connection that is about to be 
            returned is to be validated by the container,
        </x:div>
        <ref name="boolean"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="validate-atmost-once-period-in-seconds" a:defaultValue="0">
        <x:div class='dtd'>
            Used to set the time-interval within which a connection is validated atmost once.
            Default is 0 which implies that it is not enabled. TBD: Documentation is to be
            corrected.
        </x:div>
        <data type="nonNegativeInteger"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="connection-leak-timeout-in-seconds" a:defaultValue="0">
        <x:div class='dtd'>
            To aid user in detecting potential connection leaks by the application.
            When a connection is not returned back to the pool by the application
            within the specified period, it is assumed to be a potential leak and
            stack trace of the caller will be logged. Default is 0, which implies 
            there is no leak detection, by default. 
            A positive non-zero value turns on leak detection. Note however that,
            this attribute only detects if there is a connection leak. The connection
            can be reclaimed only if connection-leak-reclaim is set to true.
        </x:div>
        <data type="positiveInteger"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="connection-leak-reclaim" a:defaultValue="false">
        <x:div class='dtd'>
            If enabled, connection will be reusable (put back into pool) after 
            connection-leak-timeout-in-seconds occurs. Default value is false.
        </x:div>
        <ref name="boolean"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="connection-creation-retry-attempts" a:defaultValue="0">
        <x:div class='dtd'>
            The number of attempts to create a new connection. Default is 0, which
            implies no retries.
        </x:div>
        <data type="nonNegativeNumber"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="connection-creation-retry-interval-in-seconds" a:defaultValue="10">
        <x:div class='dtd'>
            The time interval between retries while attempting to create a connection.
            Default is 10 seconds.  Effective when  connection-creation-retry-attempts
            is greater than 0.
        </x:div>
        <data type="positiveInteger"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="lazy-connection-enlistment" a:defaultValue="false">
        <x:div class='dtd'>
            Enlist a resource to the transaction only when it is actually used in
            a method, which avoids enlistment of connections that are not used
            in a transaction. This also prevents unnecessary enlistment of connections
            cached in the calling components. Default value is false.
        </x:div>
        <ref name="boolean"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="lazy-connection-association" a:defaultValue="false">
        <x:div class='dtd'>
            Connections are lazily associated when an operation  is performed on
            them. Also, they are disassociated when the transaction is completed
            and a component method ends, which helps reuse of the physical
            connections. Default value is false.
        </x:div>
        <ref name="boolean"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="associate-with-thread" a:defaultValue="false">
        <x:div class='dtd'>
            Associate a connection with the thread such that when the
            same thread is in need of a connection, it can reuse the connection
            already associated with that thread, thereby not incurring the overhead
            of getting a connection from the pool. Default value is false.
        </x:div>
        <ref name="boolean"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="match-connections" a:defaultValue="true">
        <x:div class='dtd'>
            To switch on/off connection matching for the pool. It can be set to false if the
            administrator knows that the connections in the pool
            will always be homogeneous and hence a connection picked from the pool
            need not be matched by the resource adapter. Default value is true.
        </x:div>
        <ref name="boolean"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="max-connection-usage-count" a:defaultValue="0">
        <x:div class='dtd'>
            When specified, connections will be re-used by the pool for the specified number
            of times after which it will be closed. This is useful for instance, to avoid statement-leaks.
            Default value is 0, which implies the feature is not enabled.
        </x:div>
        <data type="nonNegativeNumber"/>
      </attribute>
    </optional>
  </define>
</grammar>
