v2/admin-core/config-api/rng/lb-config.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
         xmlns:sch="http://www.ascc.net/xml/schematron"
         xmlns="http://relaxng.org/ns/structure/1.0"
         xmlns:x="http://www.w3.org/1999/xhtml"
         xmlns:ias="http://www.sun.com/ias/validation"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">


  <define name="lb-config">
    <element name="lb-config" ias:exclusive-children-list="cluster-ref,server-ref"> <!-- should be auto generated by xslt -->
      <ref name="lb-config-attlist"/>
      <choice>
        <zeroOrMore>
          <ref name="cluster-ref"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="server-ref"/>
        </zeroOrMore>
      </choice>
      <zeroOrMore>
        <ref name="property"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="lb-config-attlist" combine="interleave">
    <attribute name="name" ias:type="key" ias:belongs-to="lb-configs" >
      <x:div class='dtd'>
        Name of the load balancer configuration
      </x:div>
      <ref name="name-type"/>
    </attribute>
    <optional>
      <attribute name="response-timeout-in-seconds" a:defaultValue="60">
        <x:div class='dtd'>
          Period within which a server must return a response or
          otherwise it will be considered unhealthy. Default value is
          60 seconds. Must be greater than or equal to 0. A value of 0
	  effectively turns off this check functionality, meaning the
	  server will always be considered healthy.
        </x:div>
	<data type="nonNegativeInteger"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="https-routing" a:defaultValue="false">
        <x:div class='dtd'>
          Boolean flag indicating how load-balancer will route https
          requests. If true then an https request to the load-balancer
          will result in an https request to the server; if false then
          https requests to the load-balancer result in http requests
          to the server. Default is to use http (i.e. value of false);
        </x:div>
        <ref name="boolean"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="reload-poll-interval-in-seconds" a:defaultValue="60">
        <x:div class='dtd'>
          Maximum period, in seconds, that a change to the load
          balancer configuration file takes before it is detected by
          the load balancer and the file reloaded. A value of 0
          indicates that reloading is disabled. Default period is 1
          minute (60)
        </x:div>
      </attribute>
    </optional>
    <optional>
      <attribute name="monitoring-enabled" a:defaultValue="false">
        <x:div class='dtd'>
          Boolean flag that determines whether monitoring is switched
          on or not.  Default is that monitoring is switched off
          (false)
        </x:div>
        <ref name="boolean"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="route-cookie-enabled" a:defaultValue="true">
        <x:div class='dtd'>
          Boolean flag that determines whether a route cookie is or is
          not enabled. Default is enabled (true).
        </x:div>
        <ref name="boolean"/>
      </attribute>
    </optional>

    <x:div class='dtd'>
      <x:h2>correctness criteria</x:h2>
      <x:p>
        It is an error if any two children refer to the same object.
      </x:p>
      <x:p>
        It is an error if all the server-refs don't have the same set of
        applications
      </x:p>
      <x:p>
        It is probably a mistake if there are no cluster-ref children,
        and every server-ref child is lb-disabled.
      </x:p>
    </x:div>
  </define>
  
</grammar>
