appserver/tests/v2-tests/appserv-tests/devtests/admin-core/config-api/src/xsl/schematron/message-catalog-test-input.xml

<?xml version="1.0" encoding="UTF-8"?>
<sch:schema xmlns:sch="http://www.ascc.net/xml/schematron">

  <sch:pattern name="test1">
    <sch:p>
      This test simply shows that we can construct a basic message with an id and a body. No argument processing is expected
    </sch:p>
    <sch:rule context="foo">
      <sch:assert id="t1" test="some/test">
	Test Message
      </sch:assert>
    </sch:rule>
  </sch:pattern>
  <sch:pattern name="foo" >
    <sch:rule context="foo">
      <sch:assert id="a1" test="a/test" diagnostics="d1">
	THis is the message <sch:name/> <sch:name path=".."/> <sch:name/> <sch:name path="fir/text()"/> <sch:name path=".."/>  <sch:name/> 
      </sch:assert>
    </sch:rule>
  </sch:pattern>

  <sch:diagnostics>
    <sch:diagnostic id="d1">
      Diagnostic <sch:value-of select='./text()'/> <sch:value-of select="1"/> another piece of text <sch:value-of select="."/> <sch:value-of select='fir/text()'/> <sch:value-of select='.'/>
    </sch:diagnostic>
  </sch:diagnostics>
</sch:schema>

