appserver/tests/appserv-tests/devtests/webservice/annotations/soap12/AddNumbers.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions name="AddNumbers"  targetNamespace="http://duke.org" xmlns:tns="http://duke.org"
    xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
	<types>
		<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://duke.org">

			<complexType name="addNumbersResponse">
				<sequence>
					<element name="return" type="xsd:int" />
				</sequence>
			</complexType>
			<element name="addNumbersResponse" type="tns:addNumbersResponse" />

			<complexType name="addNumbers">
				<sequence>
					<element name="arg0" type="xsd:int" />
					<element name="arg1" type="xsd:int" />
				</sequence>
			</complexType>
			<element name="addNumbers" type="tns:addNumbers" />

		</xsd:schema>
	</types>
	<message name="addNumbers">
		<part name="parameters" element="tns:addNumbers" />
	</message>
	<message name="addNumbersResponse">
		<part name="result" element="tns:addNumbersResponse" />
	</message>
	<portType name="AddNumbersPortType">
		<operation name="addNumbers">
			<input message="tns:addNumbers" />
			<output message="tns:addNumbersResponse" />
		</operation>
	</portType>
	<binding name="AddNumbersBinding" type="tns:AddNumbersPortType">
		<soap12:binding transport="http://www.w3.org/2003/05/soap/bindings/HTTP/" style="document" />
		<operation name="addNumbers">
			<soap12:operation soapAction="" />
			<input>
				<soap12:body use="literal" />
			</input>
			<output>
				<soap12:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="AddNumbersService">
		<port name="AddNumbersPort" binding="tns:AddNumbersBinding">
			<soap12:address location="REPLACE_WITH_ACTUAL_URL" />
		</port>
	</service>
</definitions>
