v2/packager-ext/internal/install/server_7_0.dtd

<?xml version='1.0' encoding='UTF-8' ?>

<!--
 Copyright 2004 Sun Microsystems, Inc. All rights reserved.
 SUN PROPRIETARY/CONFIDENTIAL. Use is subject to license terms.
-->


<!--Generated by XML Authority-->

<!ENTITY % boolean "(yes | no | on | off | 1 | 0 | true | false)">

<!ELEMENT server ((param | (param-name, param-value))*, component*,
                  listener*, logger?, mime*, acl*, virtual-server-class*,
                  qos?, application*, ejb-module*, web-module*)>

<!ELEMENT param EMPTY>
<!ATTLIST param  name  CDATA  #REQUIRED
                 value CDATA  #REQUIRED>

<!ELEMENT param-name (#PCDATA)>

<!ELEMENT param-value (#PCDATA)>

<!ELEMENT component (param | (param-name, param-value))*>
<!ATTLIST component  id ID  #REQUIRED>

<!ELEMENT listener (connection-group+)>
<!ATTLIST listener  id               ID     #REQUIRED
                    ip               CDATA  #REQUIRED
                    port             CDATA  #REQUIRED
                    security         %boolean; 'false'
                    acceptor-threads CDATA  '1'
                    family           CDATA  #IMPLIED
                    blocking         %boolean; 'false'     
                    enabled          %boolean; 'true'>

<!ELEMENT connection-group (ssl?)>
<!ATTLIST connection-group  id                     ID     #REQUIRED
                            ip                     CDATA  #IMPLIED
                            default-virtual-server IDREF  #REQUIRED
                            server-name            CDATA  #REQUIRED>

<!ELEMENT ssl EMPTY>
<!ATTLIST ssl  cert-nickname    CDATA  #REQUIRED
               ssl2             %boolean; 'false'
               ssl2-ciphers     CDATA  #IMPLIED
               ssl3             %boolean; 'yes'
               ssl3-tls-ciphers CDATA  #IMPLIED
               tls              %boolean; 'yes'
               tls-rollback     %boolean; 'yes'
               client-auth      %boolean; 'false'>

<!ELEMENT mime EMPTY>
<!ATTLIST mime  id   ID     #REQUIRED
                file CDATA  #REQUIRED>

<!ELEMENT acl EMPTY>
<!ATTLIST acl  id   ID     #REQUIRED
               file CDATA  #REQUIRED>

<!ELEMENT virtual-server-class ((param | (param-name, param-value))*,
                                logger?, virtual-server*, qos?)>
<!ATTLIST virtual-server-class  id              ID     #REQUIRED
                                object-file     CDATA  #IMPLIED
                                default-object  CDATA  #IMPLIED
                                accept-language %boolean; 'false'     
                                enabled %boolean; 'true'>

<!ELEMENT virtual-server ((param | (param-name, param-value))*, logger?,
                          qos?, auth-db*)>
<!ATTLIST virtual-server  id                ID      #REQUIRED
                          connection-groups IDREFS  #IMPLIED
                          hosts             CDATA   #REQUIRED
                          mime              IDREF   #REQUIRED
                          state             (on | off | disabled )  'on'
                          acls              IDREFS  #IMPLIED
                          error-log         CDATA   #IMPLIED
                          accept-language   %boolean; #IMPLIED>

<!ELEMENT qos EMPTY>
<!ATTLIST qos  bandwidth-limit          CDATA  #IMPLIED
               enforce-bandwidth-limit  %boolean; 'false'
               connection-limit         CDATA  #IMPLIED
               enforce-connection-limit %boolean; 'false'>

<!ELEMENT auth-db EMPTY>
<!ATTLIST auth-db  id       CDATA  #REQUIRED
                   database CDATA  #REQUIRED
                   basedn   CDATA  #IMPLIED
                   certmaps CDATA  #IMPLIED>

<!ELEMENT application (logger?, ejb-module*, web-module*, client-module*,
                       connector-module*)>
<!ATTLIST application  name     CDATA  #REQUIRED
                       location CDATA  #REQUIRED
                       enabled  %boolean; 'true'>

<!ELEMENT ejb-module (logger?)>
<!ATTLIST ejb-module  name     CDATA  #IMPLIED
                      location CDATA  #REQUIRED
                      enabled  %boolean; 'true'>

<!ELEMENT web-module (logger?)>
<!ATTLIST web-module  name            CDATA  #IMPLIED
                      context-root    CDATA  #IMPLIED
                      location        CDATA  #REQUIRED
                      enabled         %boolean; 'true'
                      virtual-servers IDREFS #IMPLIED>

<!ELEMENT client-module (logger?)>
<!ATTLIST client-module  name     CDATA  #IMPLIED
                         location CDATA  #REQUIRED
                         enabled  %boolean; 'true'>

<!ELEMENT connector-module (logger?)>
<!ATTLIST connector-module  name     CDATA  #IMPLIED
                            location CDATA  #REQUIRED
                            enabled  %boolean; 'true'>

<!ELEMENT logger EMPTY>
<!ATTLIST logger  level   CDATA  #IMPLIED
                  enabled %boolean; 'true'>
