v2/jaxr-ri/misc/schema/uddi_1.dtd

<!--
 The contents of this file are subject to the terms 
 of the Common Development and Distribution License 
 (the License).  You may not use this file except in
 compliance with the License.
 
 You can obtain a copy of the license at 
 https://glassfish.dev.java.net/public/CDDLv1.0.html or
 glassfish/bootstrap/legal/CDDLv1.0.txt.
 See the License for the specific language governing 
 permissions and limitations under the License.
 
 When distributing Covered Code, include this CDDL 
 Header Notice in each file and include the License file 
 at glassfish/bootstrap/legal/CDDLv1.0.txt.  
 If applicable, add the following below the CDDL Header, 
 with the fields enclosed by brackets [] replaced by
 you own identifying information: 
 "Portions Copyrighted [year] [name of copyright owner]"
 
 Copyright 2007 Sun Microsystems, Inc. All rights reserved.
-->


<!--
	UDDI API schema.  Version 1.0, revision 0.  Last change 2000-09-06
		-->
<!ELEMENT addressLine  (#PCDATA )>
<!ATTLIST addressLine  e-dtype NMTOKEN  #FIXED 'string' >
<!ELEMENT bindingKey  (#PCDATA )>
<!ATTLIST bindingKey  e-dtype NMTOKEN  #FIXED 'string' >
<!ELEMENT businessKey  (#PCDATA )>
<!ATTLIST businessKey  e-dtype NMTOKEN  #FIXED 'string' >
<!ELEMENT description  (#PCDATA )>
<!ATTLIST description  e-dtype NMTOKEN  #FIXED 'string' 
                       xml:lang  CDATA #IMPLIED >
<!ELEMENT keyValue  (#PCDATA )>
<!ATTLIST keyValue  e-dtype NMTOKEN  #FIXED 'string' >
<!ELEMENT name  (#PCDATA )>
<!ATTLIST name  e-dtype NMTOKEN  #FIXED 'string' >
<!ELEMENT overviewURL  (#PCDATA )>
<!ATTLIST overviewURL  e-dtype NMTOKEN  #FIXED 'string' >
<!ELEMENT personName  (#PCDATA )>
<!ATTLIST personName  e-dtype NMTOKEN  #FIXED 'string' >
<!ELEMENT serviceKey  (#PCDATA )>
<!ATTLIST serviceKey  e-dtype NMTOKEN  #FIXED 'string' >
<!ELEMENT tModelKey  (#PCDATA )>
<!ATTLIST tModelKey  e-dtype NMTOKEN  #FIXED 'string' >
<!ELEMENT uploadRegister  (#PCDATA )>
<!ATTLIST uploadRegister  e-dtype NMTOKEN  #FIXED 'string' >
<!--
	Data: a printable, free form address.  Typed by convention.  Sort not used.
	-->
<!ELEMENT address  (addressLine* )>
<!ATTLIST address  useType  CDATA  #IMPLIED
                   sortCode CDATA  #IMPLIED >
<!--
	Service element: accessor for one or more contacts.
	-->
<!ELEMENT contacts  (contact* )>

<!--
	Data: a contact
	-->
<!ELEMENT contact  (description* , personName , phone* , email* , address* )>
<!ATTLIST contact  useType CDATA  #IMPLIED >
<!--
	Data:  A url pointing to an external (typed by convention) discovery doc.
	-->
<!ELEMENT discoveryURL  (#PCDATA )>
<!ATTLIST discoveryURL  useType CDATA    #REQUIRED
                        e-dtype NMTOKEN  #FIXED 'string' >
<!--
	Service Element: accessor for one or more discoveryURL elements
	-->
<!ELEMENT discoveryURLs  (discoveryURL+ )>

<!--
	Data: an telephone number.
	-->
<!ELEMENT phone  (#PCDATA )>
<!ATTLIST phone  useType CDATA  #IMPLIED >
<!--
	Data: an email address.
	-->
<!ELEMENT email  (#PCDATA )>
<!ATTLIST email  useType CDATA  #IMPLIED >
<!--
	Primary Data type: Describes an instance of a business or business unit.
	-->
<!ELEMENT businessEntity  (discoveryURLs? , name , description* , contacts? , businessServices? , identifierBag? , categoryBag? )>
<!ATTLIST businessEntity  businessKey    CDATA  #REQUIRED
                          operator       CDATA  #IMPLIED
                          authorizedName CDATA  #IMPLIED >
<!--
	Service element.  Accessor collection point for businessService data.
	-->
<!ELEMENT businessServices  (businessService* )>

<!--
	Primary Data type: Describes a logical service type in business terms.
	-->
<!ELEMENT businessService  (name , description* , bindingTemplates , categoryBag? )>
<!ATTLIST businessService  serviceKey  CDATA  #REQUIRED
                           businessKey CDATA  #IMPLIED >
<!--
	Service element.  Collection accessor for bindingTemplate information.
	-->
<!ELEMENT bindingTemplates  (bindingTemplate* )>

<!--
	Service element.  Used in searching and categorization.
	-->
<!ELEMENT identifierBag  (keyedReference* )>

<!--
	Service element.  Represents a namespace qualified name-value
	pair.  Depending on use context, this structure can be used
	within different convention frameworks.
	-->
<!ELEMENT keyedReference EMPTY>
<!ATTLIST keyedReference  tModelKey CDATA  #IMPLIED
                          keyName   CDATA  #REQUIRED
                          keyValue  CDATA  #REQUIRED >
<!--
	Service element.  Used in searching and categorization.
	-->
<!ELEMENT categoryBag  (keyedReference* )>

<!--
	Primary Data type: Describes an instance of a web service in technical terms.
	-->
<!ELEMENT bindingTemplate  (description* ,  (accessPoint? | hostingRedirector? ) , tModelInstanceDetails )>
<!ATTLIST bindingTemplate  bindingKey CDATA  #REQUIRED
                           serviceKey CDATA  #IMPLIED >
<!--
	Data: present when a service is directly accessible at a particular
	address (e.g. URL, etc).  Mutually exclusive with hostingRedirector.
	-->
<!ELEMENT accessPoint  (#PCDATA )>
<!ATTLIST accessPoint  URLType NMTOKEN  #REQUIRED
                       e-dtype NMTOKEN  #FIXED 'string' >
<!--
	Data: present only when the service is provisioned via remote hosting,
	load balancing, etc.  Mutually exclusive with accessPoint.
	-->
<!ELEMENT hostingRedirector EMPTY>
<!ATTLIST hostingRedirector  bindingKey CDATA  #REQUIRED >
<!--
	Support element used as a container for tModel references within a
	web service bindingTemplate metadata set.
	-->
<!ELEMENT tModelInstanceDetails  (tModelInstanceInfo* )>

<!--
	Support element used to contain implementation instance specific information
	about compatible specications (via tModel reference) and optional settings
	details.  
	-->
<!ELEMENT tModelInstanceInfo  (description* , instanceDetails? )>
<!ATTLIST tModelInstanceInfo  tModelKey CDATA  #REQUIRED >
<!--
	Support element used to contain optional information about the way an
	instance of a web service is implemented or varies from the general
	specifications outlined in a specific tModel.
	-->
<!ELEMENT instanceDetails  (description* , overviewDoc? , instanceParms? )>

<!--
	This is a URL pointing to the settings file, or the settings themselves
	that are needed to invoke a registered service (for getting fixed parm
	values prior to call)
	-->
<!ELEMENT instanceParms  (#PCDATA )>
<!ATTLIST instanceParms  e-dtype NMTOKEN  #FIXED 'string' >
<!--
	This structure defines a metadata about a technology, specification
	or namespace qualified list (e.g. taxonomy, organizaton, etc.)
	-->
<!ELEMENT tModel  (name , description* , overviewDoc? , identifierBag? , categoryBag? )>
<!ATTLIST tModel  tModelKey      CDATA  #REQUIRED
                  operator       CDATA  #IMPLIED
                  authorizedName CDATA  #IMPLIED >
<!--
	Support element used in searches by tModel key values
	-->
<!ELEMENT tModelBag  (tModelKey+ )>

<!--
	Support element - used to contain an on-line description and a
	URL pointer to more in-depth or external documentation.
	-->
<!ELEMENT overviewDoc  (description* , overviewURL? )>

<!--
	This structure is used in all messages that update data on
	behalf of a user initiated request.
	-->
<!ELEMENT authInfo  (#PCDATA )>
<!ATTLIST authInfo  e-dtype NMTOKEN  #FIXED 'string' >
<!--
	This optional message is used to request an authentication token.  The
	response is an authToken message.
	-->
<!ELEMENT get_authToken EMPTY>
<!ATTLIST get_authToken  generic CDATA  #REQUIRED
                         userID  CDATA  #REQUIRED
                         cred    CDATA  #REQUIRED >
<!--
	This message is used to return an authentication token in response
	to a "get_authToken" message.
	-->
<!ELEMENT authToken  (authInfo )>
<!ATTLIST authToken  generic  CDATA  #REQUIRED
                     operator CDATA  #REQUIRED >
<!--
	This optional message is used to deactivate an authentication token
	that was obtained by a call to get_authToken.
	-->
<!ELEMENT discard_authToken  (authInfo )>
<!ATTLIST discard_authToken  generic CDATA  #REQUIRED >
<!--
	This message is used to register or update a tModel.  One of tModel or
	uploadRegister is required.  Invalid if contains both or neither type.
	-->
<!ELEMENT save_tModel  (authInfo , tModel* , uploadRegister* )>
<!ATTLIST save_tModel  generic CDATA  #REQUIRED >
<!--
	This message is used to delete information about a previously
	registered tModel.
	-->
<!ELEMENT delete_tModel  (authInfo , tModelKey+ )>
<!ATTLIST delete_tModel  generic CDATA  #REQUIRED >
<!--
	This message is used to save (add/update) information describing
	one or more businessEntity structures.  One of businessEntity or
	uploadRegister is required.  Invalid if contains both or neither type.
	-->
<!ELEMENT save_business  (authInfo , businessEntity* , uploadRegister* )>
<!ATTLIST save_business  generic CDATA  #REQUIRED >
<!--
	This message is used to delete information about a previously
	registered businessEntity.
	-->
<!ELEMENT delete_business  (authInfo , businessKey+ )>
<!ATTLIST delete_business  generic CDATA  #REQUIRED >
<!--
	This message is used to save (add/update) information
	about one or more businessService structures.
	-->
<!ELEMENT save_service  (authInfo , businessService+ )>
<!ATTLIST save_service  generic CDATA  #REQUIRED >
<!--
	This message is used to delete information about a previously
	registered businessService structure.
	-->
<!ELEMENT delete_service  (authInfo , serviceKey+ )>
<!ATTLIST delete_service  generic CDATA  #REQUIRED >
<!--
	This message is used to save (add/update) information about 
	one or more bindingTemplate structures.
	-->
<!ELEMENT save_binding  (authInfo , bindingTemplate+ )>
<!ATTLIST save_binding  generic CDATA  #REQUIRED >
<!--
	This message is used to delete information about a previously
	registered bindingTemplate structure.
	-->
<!ELEMENT delete_binding  (authInfo , bindingKey+ )>
<!ATTLIST delete_binding  generic CDATA  #REQUIRED >
<!--
	This message is used report the outcome of calls.  It is used within
	error (fault) messages, and can stand alone when indicating success.
	-->
<!ELEMENT dispositionReport  (result+ )>
<!ATTLIST dispositionReport  generic   CDATA    #REQUIRED
                             operator  CDATA    #REQUIRED
                             truncated NMTOKEN  #IMPLIED >
<!--
	This structure supports the dispositionReport structure.
	-->
<!ELEMENT result  (errInfo? )>
<!ATTLIST result  keyType NMTOKEN   #IMPLIED
                  errno   CDATA     #REQUIRED
                  a-dtype NMTOKENS  'errno integer' >
<!--
	Supports the DispositionReport structure.
	This structure is provided for conveying text and structured
	error code (alphanumeric) information.  Error message text
	is contained by this element.
	-->
<!ELEMENT errInfo  (#PCDATA )>
<!ATTLIST errInfo  errCode CDATA  #REQUIRED >
<!--container/accessor for findQualifiers-->
<!ELEMENT findQualifiers  (findQualifier* )>

<!--
	This structure is provided to signal the behavior of the find
	operations.  See appropriate appendix in API specification.
	-->
<!ELEMENT findQualifier  (#PCDATA )>
<!ATTLIST findQualifier  e-dtype NMTOKEN  #FIXED 'string' >
<!--
	This message is used to search for summary results listing registered
	tModel data matching specific criteria.
	-->
<!ELEMENT find_tModel  (findQualifiers? , name? , identifierBag? , categoryBag? )>
<!ATTLIST find_tModel  generic CDATA     #REQUIRED
                       maxRows CDATA     #IMPLIED
                       a-dtype NMTOKENS  'maxRows integer' >
<!--
	This message is used to search for summary results listing registered
	businessEntity data matching specific criteria.
	-->
<!ELEMENT find_business  (findQualifiers? , name? , identifierBag? , categoryBag? , tModelBag? , discoveryURLs? )>
<!ATTLIST find_business  generic CDATA     #REQUIRED
                         maxRows CDATA     #IMPLIED
                         a-dtype NMTOKENS  'maxRows integer' >
<!--
	This message is used to search for summary results listing registered
	bindingTemplate data within a businessService matching specific criteria.
	-->
<!ELEMENT find_binding  (findQualifiers? , tModelBag )>
<!ATTLIST find_binding  generic    CDATA     #REQUIRED
                        maxRows    CDATA     #IMPLIED
                        serviceKey CDATA     #REQUIRED
                        a-dtype    NMTOKENS  'maxRows integer' >
<!--
	This message is used to search for summary results listing registered
	businessService data matching specific criteria.
	-->
<!ELEMENT find_service  (findQualifiers? , name? , categoryBag? , tModelBag? )>
<!ATTLIST find_service  generic     CDATA     #REQUIRED
                        maxRows     CDATA     #IMPLIED
                        businessKey CDATA     #REQUIRED
                        a-dtype     NMTOKENS  'maxRows integer' >
<!--
	This message is used to return results of a find_service request.
	-->
<!ELEMENT serviceList  (serviceInfos )>
<!ATTLIST serviceList  generic   CDATA    #REQUIRED
                       operator  CDATA    #REQUIRED
                       truncated NMTOKEN  #IMPLIED >
<!--
	This is a report - a list of businesses in short form.
	This message is the response to a find_businessEntity query.
	-->
<!ELEMENT businessList  (businessInfos )>
<!ATTLIST businessList  generic   CDATA    #REQUIRED
                        operator  CDATA    #REQUIRED
                        truncated NMTOKEN  #IMPLIED >
<!--
	This is a report - a list of tModels in short form.
	This message is the response to a find_tModel query.
	-->
<!ELEMENT tModelList  (tModelInfos )>
<!ATTLIST tModelList  generic   CDATA    #REQUIRED
                      operator  CDATA    #REQUIRED
                      truncated NMTOKEN  #IMPLIED >
<!--
	This element is used as a short form of the BusinessEntity
	element as a first pass result set for "find businesses" queries.
	-->
<!ELEMENT businessInfo  (name , description* , serviceInfos )>
<!ATTLIST businessInfo  businessKey CDATA  #REQUIRED >
<!--
	Accessor container for one or more businessInfo structures
	-->
<!ELEMENT businessInfos  (businessInfo* )>

<!--
	This structure is used as the short form of a service for list purposes.
	-->
<!ELEMENT serviceInfo  (name )>
<!ATTLIST serviceInfo  serviceKey  CDATA  #REQUIRED
                       businessKey CDATA  #IMPLIED >
<!--
	Accessor container for one or more serviceInfo structures
	-->
<!ELEMENT serviceInfos  (serviceInfo* )>

<!--
	This message is used to get the detailed information registered
	about businessEntity data matching specific key value(s).
	-->
<!ELEMENT get_businessDetail  (businessKey+ )>
<!ATTLIST get_businessDetail  generic CDATA  #REQUIRED >
<!--
	This structure is used to return businessEntity structures.
	-->
<!ELEMENT businessDetail  (businessEntity* )>
<!ATTLIST businessDetail  generic   CDATA    #REQUIRED
                          operator  CDATA    #REQUIRED
                          truncated NMTOKEN  #IMPLIED >
<!--
	This message is used to get the detailed information registered
	about businessService data matching specific key value(s).
	-->
<!ELEMENT get_serviceDetail  (serviceKey+ )>
<!ATTLIST get_serviceDetail  generic CDATA  #REQUIRED >
<!--
	This structure is used to return full businessService details.
	-->
<!ELEMENT serviceDetail  (businessService* )>
<!ATTLIST serviceDetail  generic   CDATA    #REQUIRED
                         operator  CDATA    #REQUIRED
                         truncated NMTOKEN  #IMPLIED >
<!--
	This message is used to support tool resynch by allowing a
	query to get summarized information about registered businessEntity
	and tModels for a given userID.  This API is intended to let
	publishers determine what they've published.  As such, authentication
	is required.  The response is a registeredInfo message.
	-->
<!ELEMENT get_registeredInfo  (authInfo )>
<!ATTLIST get_registeredInfo  generic CDATA  #REQUIRED >
<!--
	This structure is used in the resynch process and is a response
	to a get_registeredInfo message.
	-->
<!ELEMENT registeredInfo  (businessInfos , tModelInfos )>
<!ATTLIST registeredInfo  generic   CDATA    #REQUIRED
                          operator  CDATA    #REQUIRED
                          truncated NMTOKEN  #IMPLIED >
<!--
	This structure is used to enumerate short form tModel information.
	-->
<!ELEMENT tModelInfo  (name )>
<!ATTLIST tModelInfo  tModelKey CDATA  #REQUIRED >
<!--
	Support element - accessor container for tModelInfo.
	-->
<!ELEMENT tModelInfos  (tModelInfo* )>

<!--
	This message is used to request the details about a specific tModel.  Results
	are returned in a tModelDetail message.
	-->
<!ELEMENT get_tModelDetail  (tModelKey+ )>
<!ATTLIST get_tModelDetail  generic CDATA  #REQUIRED >
<!--
	This is a response message that returns all exposed details about a tModel.
	-->
<!ELEMENT tModelDetail  (tModel+ )>
<!ATTLIST tModelDetail  generic   CDATA    #REQUIRED
                        operator  CDATA    #REQUIRED
                        truncated NMTOKEN  #IMPLIED >
<!--
	This structure is the container for safely extending the businessEntity
	information in private implementations of UDDI compatible registries.
	Official operator nodes may not provide extended data but must return
	a properly populated businessEntity structure within this structure in
	response to a get_businessDetailExt message.
	-->
<!ELEMENT businessEntityExt  (businessEntity )>

<!--
	The extended businessDetail messages define an API that allows non-operator
	nodes to provide extended information via a consistent API.  This message
	is the request that will cause a businessDetailExt message to be returned.
	-->
<!ELEMENT get_businessDetailExt  (businessKey+ )>
<!ATTLIST get_businessDetailExt  generic CDATA  #REQUIRED >
<!--
	The extended businessDetail messages define an API that allows non-operator
	nodes to provide extended information via a consistent API.  This message
	is the response to get_businessDetailExt.
	-->
<!ELEMENT businessDetailExt  (businessEntityExt+ )>
<!ATTLIST businessDetailExt  generic   CDATA    #REQUIRED
                             operator  CDATA    #REQUIRED
                             truncated NMTOKEN  #IMPLIED >
<!ELEMENT get_bindingDetail  (bindingKey+ )>
<!ATTLIST get_bindingDetail  generic CDATA  #REQUIRED >
<!ELEMENT bindingDetail  (bindingTemplate* )>
<!ATTLIST bindingDetail  generic   CDATA    #REQUIRED
                         operator  CDATA    #REQUIRED
                         truncated NMTOKEN  #IMPLIED >
<!ELEMENT validate_categorization  (tModelKey , keyValue , businessEntity? , businessService? , tModel? )>
<!ATTLIST validate_categorization  generic CDATA  #REQUIRED >
