v2/jaxr-ri/misc/schema/uddi_v2.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 The contents of this file are subject to the terms 
 of the Common Development and Distribution License 
 (the License).  You may not use this file except in
 compliance with the License.
 
 You can obtain a copy of the license at 
 https://glassfish.dev.java.net/public/CDDLv1.0.html or
 glassfish/bootstrap/legal/CDDLv1.0.txt.
 See the License for the specific language governing 
 permissions and limitations under the License.
 
 When distributing Covered Code, include this CDDL 
 Header Notice in each file and include the License file 
 at glassfish/bootstrap/legal/CDDLv1.0.txt.  
 If applicable, add the following below the CDDL Header, 
 with the fields enclosed by brackets [] replaced by
 you own identifying information: 
 "Portions Copyrighted [year] [name of copyright owner]"
 
 Copyright 2007 Sun Microsystems, Inc. All rights reserved.
-->

<schema targetNamespace="urn:uddi-org:api_v2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:uddi="urn:uddi-org:api_v2" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.03" id="uddi">
	<import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd"/>
	<!-- Attribute type definitions -->
	<simpleType name="bindingKey">
		<restriction base="string"/>
	</simpleType>
	<simpleType name="businessKey">
		<restriction base="string"/>
	</simpleType>
	<simpleType name="serviceKey">
		<restriction base="string"/>
	</simpleType>
	<simpleType name="tModelKey">
		<restriction base="string"/>
	</simpleType>
	<simpleType name="direction">
		<restriction base="NMTOKEN">
			<enumeration value="fromKey"/>
			<enumeration value="toKey"/>
		</restriction>
	</simpleType>
	<simpleType name="truncated">
		<restriction base="NMTOKEN">
			<enumeration value="true"/>
			<enumeration value="false"/>
		</restriction>
	</simpleType>
	<simpleType name="URLType">
		<restriction base="NMTOKEN">
			<enumeration value="mailto"/>
			<enumeration value="http"/>
			<enumeration value="https"/>
			<enumeration value="ftp"/>
			<enumeration value="fax"/>
			<enumeration value="phone"/>
			<enumeration value="other"/>
		</restriction>
	</simpleType>
	<simpleType name="keyType">
		<restriction base="NMTOKEN">
			<enumeration value="businessKey"/>
			<enumeration value="tModelKey"/>
			<enumeration value="serviceKey"/>
			<enumeration value="bindingKey"/>
		</restriction>
	</simpleType>
	<!-- Type and element definitions for registry content -->
	<element name="accessPoint" type="uddi:accessPoint"/>
	<complexType name="accessPoint">
		<simpleContent>
			<extension base="string">
				<attribute name="URLType" type="uddi:URLType" use="required"/>
			</extension>
		</simpleContent>
	</complexType>
	<element name="address" type="uddi:address"/>
	<complexType name="address">
		<sequence>
			<element ref="uddi:addressLine" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="useType" type="string" use="optional"/>
		<attribute name="sortCode" type="string" use="optional"/>
		<attribute name="tModelKey" type="uddi:tModelKey" use="optional"/>
	</complexType>
	<element name="addressLine" type="uddi:addressLine"/>
	<complexType name="addressLine">
		<simpleContent>
			<extension base="string">
				<attribute name="keyName" type="string" use="optional"/>
				<attribute name="keyValue" type="string" use="optional"/>
			</extension>
		</simpleContent>
	</complexType>
	<element name="assertionStatusItem" type="uddi:assertionStatusItem"/>
	<complexType name="assertionStatusItem">
		<sequence>
			<element ref="uddi:fromKey"/>
			<element ref="uddi:toKey"/>
			<element ref="uddi:keyedReference"/>
			<element ref="uddi:keysOwned"/>
		</sequence>
		<attribute name="completionStatus" type="string" use="required"/>
	</complexType>
	<element name="authInfo" type="string"/>
	<element name="bindingKey" type="uddi:bindingKey"/>
	<element name="bindingTemplate" type="uddi:bindingTemplate"/>
	<complexType name="bindingTemplate">
		<sequence>
			<element ref="uddi:description" minOccurs="0" maxOccurs="unbounded"/>
			<choice>
				<element ref="uddi:accessPoint"/>
				<element ref="uddi:hostingRedirector"/>
			</choice>
			<element ref="uddi:tModelInstanceDetails"/>
		</sequence>
		<attribute name="serviceKey" type="uddi:serviceKey" use="optional"/>
		<attribute name="bindingKey" type="uddi:bindingKey" use="required"/>
	</complexType>
	<element name="bindingTemplates" type="uddi:bindingTemplates"/>
	<complexType name="bindingTemplates">
		<sequence>
			<element ref="uddi:bindingTemplate" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<element name="businessEntity" type="uddi:businessEntity"/>
	<complexType name="businessEntity">
		<sequence>
			<element ref="uddi:discoveryURLs" minOccurs="0"/>
			<element ref="uddi:name" maxOccurs="unbounded"/>
			<element ref="uddi:description" minOccurs="0" maxOccurs="unbounded"/>
			<element ref="uddi:contacts" minOccurs="0"/>
			<element ref="uddi:businessServices" minOccurs="0"/>
			<element ref="uddi:identifierBag" minOccurs="0"/>
			<element ref="uddi:categoryBag" minOccurs="0"/>
		</sequence>
		<attribute name="businessKey" type="uddi:businessKey" use="required"/>
		<attribute name="operator" type="string" use="optional"/>
		<attribute name="authorizedName" type="string" use="optional"/>
	</complexType>
	<element name="businessEntityExt" type="uddi:businessEntityExt"/>
	<complexType name="businessEntityExt">
		<sequence>
			<element ref="uddi:businessEntity"/>
			<any namespace="##other" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<element name="businessInfo" type="uddi:businessInfo"/>
	<complexType name="businessInfo">
		<sequence>
			<element ref="uddi:name" maxOccurs="unbounded"/>
			<element ref="uddi:description" minOccurs="0" maxOccurs="unbounded"/>
			<element ref="uddi:serviceInfos"/>
		</sequence>
		<attribute name="businessKey" type="uddi:businessKey" use="required"/>
	</complexType>
	<element name="businessInfos" type="uddi:businessInfos"/>
	<complexType name="businessInfos">
		<sequence>
			<element ref="uddi:businessInfo" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<element name="businessKey" type="uddi:businessKey"/>
	<element name="businessService" type="uddi:businessService"/>
	<complexType name="businessService">
		<sequence>
			<element ref="uddi:name" minOccurs="0" maxOccurs="unbounded"/>
			<element ref="uddi:description" minOccurs="0" maxOccurs="unbounded"/>
			<element ref="uddi:bindingTemplates" minOccurs="0"/>
			<element ref="uddi:categoryBag" minOccurs="0"/>
		</sequence>
		<attribute name="serviceKey" type="uddi:serviceKey" use="required"/>
		<attribute name="businessKey" type="uddi:businessKey" use="optional"/>
	</complexType>
	<element name="businessServices" type="uddi:businessServices"/>
	<complexType name="businessServices">
		<sequence>
			<element ref="uddi:businessService" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<element name="categoryBag" type="uddi:categoryBag"/>
	<complexType name="categoryBag">
		<sequence>
			<element ref="uddi:keyedReference" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<element name="completionStatus" type="string"/>
	<element name="contact" type="uddi:contact"/>
	<complexType name="contact">
		<sequence>
			<element ref="uddi:description" minOccurs="0" maxOccurs="unbounded"/>
			<element ref="uddi:personName"/>
			<element ref="uddi:phone" minOccurs="0" maxOccurs="unbounded"/>
			<element ref="uddi:email" minOccurs="0" maxOccurs="unbounded"/>
			<element ref="uddi:address" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="useType" type="string" use="optional"/>
	</complexType>
	<element name="contacts" type="uddi:contacts"/>
	<complexType name="contacts">
		<sequence>
			<element ref="uddi:contact" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<element name="description" type="uddi:description"/>
	<complexType name="description">
		<simpleContent>
			<extension base="string">
				<attribute ref="xml:lang"/>
			</extension>
		</simpleContent>
	</complexType>
	<element name="discoveryURL" type="uddi:discoveryURL"/>
	<complexType name="discoveryURL">
		<simpleContent>
			<extension base="string">
				<attribute name="useType" type="string" use="required"/>
			</extension>
		</simpleContent>
	</complexType>
	<element name="discoveryURLs" type="uddi:discoveryURLs"/>
	<complexType name="discoveryURLs">
		<sequence>
			<element ref="uddi:discoveryURL" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<element name="dispositionReport" type="uddi:dispositionReport"/>
	<complexType name="dispositionReport">
		<sequence>
			<element ref="uddi:result" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="generic" type="string" use="required"/>
		<attribute name="operator" type="string" use="required"/>
		<attribute name="truncated" type="uddi:truncated" use="optional"/>
	</complexType>
	<element name="email" type="uddi:email"/>
	<complexType name="email">
		<simpleContent>
			<extension base="string">
				<attribute name="useType" type="string" use="optional"/>
			</extension>
		</simpleContent>
	</complexType>
	<element name="errInfo" type="uddi:errInfo"/>
	<complexType name="errInfo">
		<simpleContent>
			<extension base="string">
				<attribute name="errCode" type="string" use="required"/>
			</extension>
		</simpleContent>
	</complexType>
	<element name="findQualifier" type="string"/>
	<element name="findQualifiers" type="uddi:findQualifiers"/>
	<complexType name="findQualifiers">
		<sequence>
			<element ref="uddi:findQualifier" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<element name="fromKey" type="uddi:businessKey"/>
	<element name="hostingRedirector" type="uddi:hostingRedirector"/>
	<complexType name="hostingRedirector">
		<attribute name="bindingKey" type="uddi:bindingKey" use="required"/>
	</complexType>
	<element name="identifierBag" type="uddi:identifierBag"/>
	<complexType name="identifierBag">
		<sequence>
			<element ref="uddi:keyedReference" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<element name="instanceDetails" type="uddi:instanceDetails"/>
	<complexType name="instanceDetails">
		<sequence>
			<element ref="uddi:description" minOccurs="0" maxOccurs="unbounded"/>
			<element ref="uddi:overviewDoc" minOccurs="0"/>
			<element ref="uddi:instanceParms" minOccurs="0"/>
		</sequence>
	</complexType>
	<element name="instanceParms" type="string"/>
	<element name="keyedReference" type="uddi:keyedReference"/>
	<complexType name="keyedReference">
		<attribute name="tModelKey" type="uddi:tModelKey" use="optional"/>
		<attribute name="keyName" type="string" use="optional"/>
		<attribute name="keyValue" type="string" use="required"/>
	</complexType>
	<element name="keysOwned" type="uddi:keysOwned"/>
	<complexType name="keysOwned">
		<sequence>
			<element ref="uddi:fromKey" minOccurs="0"/>
			<element ref="uddi:toKey" minOccurs="0"/>
		</sequence>
	</complexType>
	<element name="name" type="uddi:name"/>
	<complexType name="name">
		<simpleContent>
			<extension base="string">
				<attribute ref="xml:lang" use="optional"/>
			</extension>
		</simpleContent>
	</complexType>
	<element name="overviewDoc" type="uddi:overviewDoc"/>
	<complexType name="overviewDoc">
		<sequence>
			<element ref="uddi:description" minOccurs="0" maxOccurs="unbounded"/>
			<element ref="uddi:overviewURL" minOccurs="0"/>
		</sequence>
	</complexType>
	<element name="overviewURL" type="string"/>
	<element name="personName" type="string"/>
	<element name="phone" type="uddi:phone"/>
	<complexType name="phone">
		<simpleContent>
			<extension base="string">
				<attribute name="useType" type="string" use="optional"/>
			</extension>
		</simpleContent>
	</complexType>
	<element name="publisherAssertion" type="uddi:publisherAssertion"/>
	<complexType name="publisherAssertion">
		<sequence>
			<element ref="uddi:fromKey"/>
			<element ref="uddi:toKey"/>
			<element ref="uddi:keyedReference"/>
		</sequence>
	</complexType>
	<element name="relatedBusinessInfo" type="uddi:relatedBusinessInfo"/>
	<complexType name="relatedBusinessInfo">
		<sequence>
			<element ref="uddi:businessKey"/>
			<element ref="uddi:name" maxOccurs="unbounded"/>
			<element ref="uddi:description" minOccurs="0" maxOccurs="unbounded"/>
			<element ref="uddi:sharedRelationships" maxOccurs="2"/>
		</sequence>
	</complexType>
	<element name="relatedBusinessInfos" type="uddi:relatedBusinessInfos"/>
	<complexType name="relatedBusinessInfos">
		<sequence>
			<element ref="uddi:relatedBusinessInfo" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<element name="result" type="uddi:result"/>
	<complexType name="result">
		<sequence>
			<element ref="uddi:errInfo" minOccurs="0"/>
		</sequence>
		<attribute name="keyType" type="uddi:keyType" use="optional"/>
		<attribute name="errno" type="int" use="required"/>
	</complexType>
	<element name="serviceInfo" type="uddi:serviceInfo"/>
	<complexType name="serviceInfo">
		<sequence>
			<element ref="uddi:name" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="serviceKey" type="uddi:serviceKey" use="required"/>
		<attribute name="businessKey" type="uddi:businessKey" use="required"/>
	</complexType>
	<element name="serviceInfos" type="uddi:serviceInfos"/>
	<complexType name="serviceInfos">
		<sequence>
			<element ref="uddi:serviceInfo" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<element name="serviceKey" type="uddi:serviceKey"/>
	<element name="sharedRelationships" type="uddi:sharedRelationships"/>
	<complexType name="sharedRelationships">
		<sequence>
			<element ref="uddi:keyedReference" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="direction" type="uddi:direction" use="required"/>
	</complexType>
	<element name="tModel" type="uddi:tModel"/>
	<complexType name="tModel">
		<sequence>
			<element ref="uddi:name"/>
			<element ref="uddi:description" minOccurs="0" maxOccurs="unbounded"/>
			<element ref="uddi:overviewDoc" minOccurs="0"/>
			<element ref="uddi:identifierBag" minOccurs="0"/>
			<element ref="uddi:categoryBag" minOccurs="0"/>
		</sequence>
		<attribute name="tModelKey" type="uddi:tModelKey" use="required"/>
		<attribute name="operator" type="string" use="optional"/>
		<attribute name="authorizedName" type="string" use="optional"/>
	</complexType>
	<element name="tModelBag" type="uddi:tModelBag"/>
	<complexType name="tModelBag">
		<sequence>
			<element ref="uddi:tModelKey" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<element name="tModelInfo" type="uddi:tModelInfo"/>
	<complexType name="tModelInfo">
		<sequence>
			<element ref="uddi:name"/>
		</sequence>
		<attribute name="tModelKey" type="uddi:tModelKey" use="required"/>
	</complexType>
	<element name="tModelInfos" type="uddi:tModelInfos"/>
	<complexType name="tModelInfos">
		<sequence>
			<element ref="uddi:tModelInfo" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<element name="tModelInstanceDetails" type="uddi:tModelInstanceDetails"/>
	<complexType name="tModelInstanceDetails">
		<sequence>
			<element ref="uddi:tModelInstanceInfo" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<element name="tModelInstanceInfo" type="uddi:tModelInstanceInfo"/>
	<complexType name="tModelInstanceInfo">
		<sequence>
			<element ref="uddi:description" minOccurs="0" maxOccurs="unbounded"/>
			<element ref="uddi:instanceDetails" minOccurs="0"/>
		</sequence>
		<attribute name="tModelKey" type="uddi:tModelKey" use="required"/>
	</complexType>
	<element name="tModelKey" type="uddi:tModelKey"/>
	<element name="toKey" type="uddi:businessKey"/>
	<element name="uploadRegister" type="string"/>
	<!-- Type and element definitions for input messages -->
	<element name="add_publisherAssertions" type="uddi:add_publisherAssertions"/>
	<complexType name="add_publisherAssertions">
		<sequence>
			<element ref="uddi:authInfo"/>
			<element ref="uddi:publisherAssertion" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="generic" type="string" use="required"/>
	</complexType>
	<element name="delete_binding" type="uddi:delete_binding"/>
	<complexType name="delete_binding">
		<sequence>
			<element ref="uddi:authInfo"/>
			<element ref="uddi:bindingKey" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="generic" type="string" use="required"/>
	</complexType>
	<element name="delete_business" type="uddi:delete_business"/>
	<complexType name="delete_business">
		<sequence>
			<element ref="uddi:authInfo"/>
			<element ref="uddi:businessKey" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="generic" type="string" use="required"/>
	</complexType>
	<element name="delete_publisherAssertions" type="uddi:delete_publisherAssertions"/>
	<complexType name="delete_publisherAssertions">
		<sequence>
			<element ref="uddi:authInfo"/>
			<element ref="uddi:publisherAssertion" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="generic" type="string" use="required"/>
	</complexType>
	<element name="delete_service" type="uddi:delete_service"/>
	<complexType name="delete_service">
		<sequence>
			<element ref="uddi:authInfo"/>
			<element ref="uddi:serviceKey" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="generic" type="string" use="required"/>
	</complexType>
	<element name="delete_tModel" type="uddi:delete_tModel"/>
	<complexType name="delete_tModel">
		<sequence>
			<element ref="uddi:authInfo"/>
			<element ref="uddi:tModelKey" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="generic" type="string" use="required"/>
	</complexType>
	<element name="discard_authToken" type="uddi:discard_authToken"/>
	<complexType name="discard_authToken">
		<sequence>
			<element ref="uddi:authInfo"/>
		</sequence>
		<attribute name="generic" type="string" use="required"/>
	</complexType>
	<element name="find_binding" type="uddi:find_binding"/>
	<complexType name="find_binding">
		<sequence>
			<element ref="uddi:findQualifiers" minOccurs="0"/>
			<element ref="uddi:tModelBag"/>
		</sequence>
		<attribute name="generic" type="string" use="required"/>
		<attribute name="maxRows" type="int" use="optional"/>
		<attribute name="serviceKey" type="uddi:serviceKey" use="required"/>
	</complexType>
	<element name="find_business" type="uddi:find_business"/>
	<complexType name="find_business">
		<sequence>
			<element ref="uddi:findQualifiers" minOccurs="0"/>
			<element ref="uddi:name" minOccurs="0" maxOccurs="unbounded"/>
			<element ref="uddi:identifierBag" minOccurs="0"/>
			<element ref="uddi:categoryBag" minOccurs="0"/>
			<element ref="uddi:tModelBag" minOccurs="0"/>
			<element ref="uddi:discoveryURLs" minOccurs="0"/>
		</sequence>
		<attribute name="generic" type="string" use="required"/>
		<attribute name="maxRows" type="int" use="optional"/>
	</complexType>
	<element name="find_relatedBusinesses" type="uddi:find_relatedBusinesses"/>
	<complexType name="find_relatedBusinesses">
		<sequence>
			<element ref="uddi:findQualifiers" minOccurs="0"/>
			<element ref="uddi:businessKey"/>
			<element ref="uddi:keyedReference" minOccurs="0"/>
		</sequence>
		<attribute name="generic" type="string" use="required"/>
		<attribute name="maxRows" type="int" use="optional"/>
	</complexType>
	<element name="find_service" type="uddi:find_service"/>
	<complexType name="find_service">
		<sequence>
			<element ref="uddi:findQualifiers" minOccurs="0"/>
			<element ref="uddi:name" minOccurs="0" maxOccurs="unbounded"/>
			<element ref="uddi:categoryBag" minOccurs="0"/>
			<element ref="uddi:tModelBag" minOccurs="0"/>
		</sequence>
		<attribute name="generic" type="string" use="required"/>
		<attribute name="maxRows" type="int" use="optional"/>
		<attribute name="businessKey" type="uddi:businessKey" use="optional"/>
	</complexType>
	<element name="find_tModel" type="uddi:find_tModel"/>
	<complexType name="find_tModel">
		<sequence>
			<element ref="uddi:findQualifiers" minOccurs="0"/>
			<element ref="uddi:name" minOccurs="0"/>
			<element ref="uddi:identifierBag" minOccurs="0"/>
			<element ref="uddi:categoryBag" minOccurs="0"/>
		</sequence>
		<attribute name="generic" type="string" use="required"/>
		<attribute name="maxRows" type="int" use="optional"/>
	</complexType>
	<element name="get_assertionStatusReport" type="uddi:get_assertionStatusReport"/>
	<complexType name="get_assertionStatusReport">
		<sequence>
			<element ref="uddi:authInfo"/>
			<element ref="uddi:completionStatus" minOccurs="0"/>
		</sequence>
		<attribute name="generic" type="string" use="required"/>
	</complexType>
	<element name="get_authToken" type="uddi:get_authToken"/>
	<complexType name="get_authToken">
		<attribute name="generic" type="string" use="required"/>
		<attribute name="userID" type="string" use="required"/>
		<attribute name="cred" type="string" use="required"/>
	</complexType>
	<element name="get_bindingDetail" type="uddi:get_bindingDetail"/>
	<complexType name="get_bindingDetail">
		<sequence>
			<element ref="uddi:bindingKey" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="generic" type="string" use="required"/>
	</complexType>
	<element name="get_businessDetail" type="uddi:get_businessDetail"/>
	<complexType name="get_businessDetail">
		<sequence>
			<element ref="uddi:businessKey" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="generic" type="string" use="required"/>
	</complexType>
	<element name="get_businessDetailExt" type="uddi:get_businessDetailExt"/>
	<complexType name="get_businessDetailExt">
		<sequence>
			<element ref="uddi:businessKey" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="generic" type="string" use="required"/>
	</complexType>
	<element name="get_publisherAssertions" type="uddi:get_publisherAssertions"/>
	<complexType name="get_publisherAssertions">
		<sequence>
			<element ref="uddi:authInfo"/>
		</sequence>
		<attribute name="generic" type="string" use="required"/>
	</complexType>
	<element name="get_registeredInfo" type="uddi:get_registeredInfo"/>
	<complexType name="get_registeredInfo">
		<sequence>
			<element ref="uddi:authInfo"/>
		</sequence>
		<attribute name="generic" type="string" use="required"/>
	</complexType>
	<element name="get_serviceDetail" type="uddi:get_serviceDetail"/>
	<complexType name="get_serviceDetail">
		<sequence>
			<element ref="uddi:serviceKey" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="generic" type="string" use="required"/>
	</complexType>
	<element name="get_tModelDetail" type="uddi:get_tModelDetail"/>
	<complexType name="get_tModelDetail">
		<sequence>
			<element ref="uddi:tModelKey" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="generic" type="string" use="required"/>
	</complexType>
	<element name="save_binding" type="uddi:save_binding"/>
	<complexType name="save_binding">
		<sequence>
			<element ref="uddi:authInfo"/>
			<element ref="uddi:bindingTemplate" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="generic" type="string" use="required"/>
	</complexType>
	<element name="save_business" type="uddi:save_business"/>
	<complexType name="save_business">
		<sequence>
			<element ref="uddi:authInfo"/>
			<element ref="uddi:businessEntity" minOccurs="0" maxOccurs="unbounded"/>
			<element ref="uddi:uploadRegister" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="generic" type="string" use="required"/>
	</complexType>
	<element name="save_service" type="uddi:save_service"/>
	<complexType name="save_service">
		<sequence>
			<element ref="uddi:authInfo"/>
			<element ref="uddi:businessService" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="generic" type="string" use="required"/>
	</complexType>
	<element name="save_tModel" type="uddi:save_tModel"/>
	<complexType name="save_tModel">
		<sequence>
			<element ref="uddi:authInfo"/>
			<element ref="uddi:tModel" minOccurs="0" maxOccurs="unbounded"/>
			<element ref="uddi:uploadRegister" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="generic" type="string" use="required"/>
	</complexType>
	<element name="set_publisherAssertions" type="uddi:set_publisherAssertions"/>
	<complexType name="set_publisherAssertions">
		<sequence>
			<element ref="uddi:authInfo"/>
			<element ref="uddi:publisherAssertion" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="generic" type="string" use="required"/>
	</complexType>
	<element name="validate_values" type="uddi:validate_values"/>
	<complexType name="validate_values">
		<choice>
			<element ref="uddi:businessEntity" minOccurs="0" maxOccurs="unbounded"/>
			<element ref="uddi:businessService" minOccurs="0" maxOccurs="unbounded"/>
			<element ref="uddi:tModel" minOccurs="0" maxOccurs="unbounded"/>
		</choice>
		<attribute name="generic" type="string" use="required"/>
	</complexType>
	<!-- Type and element definitions for response messages -->
	<element name="assertionStatusReport" type="uddi:assertionStatusReport"/>
	<complexType name="assertionStatusReport">
		<sequence>
			<element ref="uddi:assertionStatusItem" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="generic" type="string" use="required"/>
		<attribute name="operator" type="string" use="required"/>
	</complexType>
	<element name="authToken" type="uddi:authToken"/>
	<complexType name="authToken">
		<sequence>
			<element ref="uddi:authInfo"/>
		</sequence>
		<attribute name="generic" type="string" use="required"/>
		<attribute name="operator" type="string" use="required"/>
	</complexType>
	<element name="bindingDetail" type="uddi:bindingDetail"/>
	<complexType name="bindingDetail">
		<sequence>
			<element ref="uddi:bindingTemplate" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="generic" type="string" use="required"/>
		<attribute name="operator" type="string" use="required"/>
		<attribute name="truncated" type="uddi:truncated" use="optional"/>
	</complexType>
	<element name="businessDetail" type="uddi:businessDetail"/>
	<complexType name="businessDetail">
		<sequence>
			<element ref="uddi:businessEntity" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="generic" type="string" use="required"/>
		<attribute name="operator" type="string" use="required"/>
		<attribute name="truncated" type="uddi:truncated" use="optional"/>
	</complexType>
	<element name="businessDetailExt" type="uddi:businessDetailExt"/>
	<complexType name="businessDetailExt">
		<sequence>
			<element ref="uddi:businessEntityExt" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="generic" type="string" use="required"/>
		<attribute name="operator" type="string" use="required"/>
		<attribute name="truncated" type="uddi:truncated" use="optional"/>
	</complexType>
	<element name="businessList" type="uddi:businessList"/>
	<complexType name="businessList">
		<sequence>
			<element ref="uddi:businessInfos"/>
		</sequence>
		<attribute name="generic" type="string" use="required"/>
		<attribute name="operator" type="string" use="required"/>
		<attribute name="truncated" type="uddi:truncated" use="optional"/>
	</complexType>
	<element name="publisherAssertions" type="uddi:publisherAssertions"/>
	<complexType name="publisherAssertions">
		<sequence>
			<element ref="uddi:publisherAssertion" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="generic" type="string" use="required"/>
		<attribute name="operator" type="string" use="required"/>
		<attribute name="authorizedName" type="string" use="required"/>
	</complexType>
	<element name="registeredInfo" type="uddi:registeredInfo"/>
	<complexType name="registeredInfo">
		<sequence>
			<element ref="uddi:businessInfos"/>
			<element ref="uddi:tModelInfos"/>
		</sequence>
		<attribute name="generic" type="string" use="required"/>
		<attribute name="operator" type="string" use="required"/>
		<attribute name="truncated" type="uddi:truncated" use="optional"/>
	</complexType>
	<element name="relatedBusinessesList" type="uddi:relatedBusinessesList"/>
	<complexType name="relatedBusinessesList">
		<sequence>
			<element ref="uddi:businessKey"/>
			<element ref="uddi:relatedBusinessInfos"/>
		</sequence>
		<attribute name="generic" type="string" use="required"/>
		<attribute name="operator" type="string" use="required"/>
		<attribute name="truncated" type="uddi:truncated" use="optional"/>
	</complexType>
	<element name="serviceDetail" type="uddi:serviceDetail"/>
	<complexType name="serviceDetail">
		<sequence>
			<element ref="uddi:businessService" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="generic" type="string" use="required"/>
		<attribute name="operator" type="string" use="required"/>
		<attribute name="truncated" type="uddi:truncated" use="optional"/>
	</complexType>
	<element name="serviceList" type="uddi:serviceList"/>
	<complexType name="serviceList">
		<sequence>
			<element ref="uddi:serviceInfos"/>
		</sequence>
		<attribute name="generic" type="string" use="required"/>
		<attribute name="operator" type="string" use="required"/>
		<attribute name="truncated" type="uddi:truncated" use="optional"/>
	</complexType>
	<element name="tModelDetail" type="uddi:tModelDetail"/>
	<complexType name="tModelDetail">
		<sequence>
			<element ref="uddi:tModel" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="generic" type="string" use="required"/>
		<attribute name="operator" type="string" use="required"/>
		<attribute name="truncated" type="uddi:truncated" use="optional"/>
	</complexType>
	<element name="tModelList" type="uddi:tModelList"/>
	<complexType name="tModelList">
		<sequence>
			<element ref="uddi:tModelInfos"/>
		</sequence>
		<attribute name="generic" type="string" use="required"/>
		<attribute name="operator" type="string" use="required"/>
		<attribute name="truncated" type="uddi:truncated" use="optional"/>
	</complexType>
</schema>

