tests/jbi/rpc_literal/se_consumer_se_provider/bundled_wsdl/wsdl/CalculatorService.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://example.web.service/Calculator" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://example.web.service/Calculator" name="CalculatorService">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://example.web.service/Calculator" schemaLocation="CalculatorService_schema1.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"/>
    </xsd:schema>
  </types>
  <message name="calculateIncomeTax">
    <part name="arg0" type="tns:incomeTaxDetails"/>
    <part name="arg1" type="tns:incomeTaxDetails"/>
    <part name="arg2" type="tns:incomeTaxDetails"/>
    <part name="arg3" type="tns:incomeTaxDetails"/>
    <part name="arg4" type="tns:incomeTaxDetails"/>
    <part name="arg5" type="tns:incomeTaxDetails"/>
    <part name="arg6" type="tns:incomeTaxDetails"/>
    <part name="arg7" type="tns:incomeTaxDetails"/>
    <part name="arg8" type="tns:incomeTaxDetails"/>
    <part name="arg9" type="tns:incomeTaxDetails"/>
  </message>
  <message name="calculateIncomeTaxResponse">
    <part name="return" type="xsd:long"/>
  </message>
  <message name="sayHi"/>
  <message name="sayHiResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="printHi"/>
  <message name="printHiResponse"/>
  <message name="printHiToMe">
    <part name="arg0" type="xsd:string"/>
  </message>
  <message name="printHiToMeResponse"/>
  <message name="add">
    <part name="int_1" type="xsd:int"/>
    <part name="int_2" type="xsd:int"/>
  </message>
  <message name="addResponse">
    <part name="return" type="xsd:int"/>
  </message>
  <message name="Exception">
    <part name="fault" element="tns:Exception"/>
  </message>
  <portType name="Calculator">
    <operation name="calculateIncomeTax" parameterOrder="arg0 arg1 arg2 arg3 arg4 arg5 arg6 arg7 arg8 arg9">
      <input name="calculateIncomeTax" message="tns:calculateIncomeTax"/>
      <output name="calculateIncomeTaxResponse" message="tns:calculateIncomeTaxResponse"/>
    </operation>
    <operation name="sayHi" parameterOrder="">
      <input message="tns:sayHi"/>
      <output message="tns:sayHiResponse"/>
    </operation>
    <operation name="printHi" parameterOrder="">
      <input name="printHi" message="tns:printHi"/>
      <output name="printHiResponse" message="tns:printHiResponse"/>
    </operation>
    <operation name="printHiToMe" parameterOrder="arg0">
      <input name="printHiToMe" message="tns:printHiToMe"/>
      <output name="printHiToMeResponse" message="tns:printHiToMeResponse"/>
    </operation>
    <operation name="add" parameterOrder="int_1 int_2">
      <input message="tns:add"/>
      <output message="tns:addResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
  </portType>
  <binding name="CalculatorPortBinding" type="tns:Calculator">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="calculateIncomeTax">
      <soap:operation soapAction="urn:CalculateIncomeTax"/>
      <input>
        <soap:body use="literal" namespace="http://example.web.service/Calculator"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://example.web.service/Calculator"/>
      </output>
    </operation>
    <operation name="sayHi">
      <soap:operation soapAction="urn:SayHi"/>
      <input>
        <soap:body use="literal" namespace="http://example.web.service/Calculator"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://example.web.service/Calculator"/>
      </output>
    </operation>
    <operation name="printHi">
      <soap:operation soapAction="urn:PrintHi"/>
      <input name="printHi">
        <soap:body use="literal" namespace="http://example.web.service/Calculator"/>
      </input>
      <output name="printHiResponse">
        <soap:body use="literal" namespace="http://example.web.service/Calculator"/>
      </output>
    </operation>
    <operation name="printHiToMe">
      <soap:operation soapAction="urn:PrintHiToMe"/>
      <input name="printHiToMe">
        <soap:body use="literal" namespace="http://example.web.service/Calculator"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://example.web.service/Calculator"/>
      </output>
    </operation>
    <operation name="add">
      <soap:operation soapAction="urn:Add"/>
      <input>
        <soap:body use="literal" namespace="http://example.web.service/Calculator"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://example.web.service/Calculator"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="CalculatorService">
    <port name="CalculatorPort" binding="tns:CalculatorPortBinding">
      <soap:address location="http://sholay.india.sun.com:8080/rpc-literal-bundled-wsdl/webservice/CalculatorService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"/>
    </port>
  </service>
</definitions>
