appserver/tests/v2-tests/appserv-tests/sqetests/jbi/helloca/projects/callMessagesEJBApp/src/jbiasa/MessageEJBService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<definitions targetNamespace="http://message.helloca.jbi/" name="MessageEJBService" xmlns:tns="http://message.helloca.jbi/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://message.helloca.jbi/" schemaLocation="MessageEJBService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="ping"/>
  <message name="pingResponse"/>
  <message name="testStringOneway">
    <part name="arg0" type="xsd:string"/>
  </message>
  <message name="testTypes">
    <part name="arg0" type="xsd:string"/>
    <part name="arg1" type="xsd:int"/>
    <part name="arg2" type="xsd:double"/>
    <part name="arg3" type="xsd:base64Binary"/>
  </message>
  <message name="testTypesResponse">
    <part name="return" type="xsd:boolean"/>
  </message>
  <message name="testParamModes">
    <part name="addressBookEntry" type="tns:addressBookEntry"/>
  </message>
  <message name="testParamModesResponse">
    <part name="return" type="xsd:string"/>
    <part name="addressBook" type="tns:addressBook"/>
    <part name="addressBookEntry" type="tns:addressBookEntry"/>
  </message>
  <portType name="MessageEJB">
    <operation name="ping" parameterOrder="">
      <input message="tns:ping"/>
      <output message="tns:pingResponse"/>
    </operation>
    <operation name="testStringOneway">
      <input message="tns:testStringOneway"/>
    </operation>
    <operation name="testTypes" parameterOrder="arg0 arg1 arg2 arg3">
      <input message="tns:testTypes"/>
      <output message="tns:testTypesResponse"/>
    </operation>
    <operation name="testParamModes" parameterOrder="addressBook addressBookEntry">
      <input message="tns:testParamModes"/>
      <output message="tns:testParamModesResponse"/>
    </operation>
  </portType>
  <binding name="MessageEJBPortBinding" type="tns:MessageEJB">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="ping">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://message.helloca.jbi/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://message.helloca.jbi/"/>
      </output>
    </operation>
    <operation name="testStringOneway">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://message.helloca.jbi/"/>
      </input>
    </operation>
    <operation name="testTypes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://message.helloca.jbi/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://message.helloca.jbi/"/>
      </output>
    </operation>
    <operation name="testParamModes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://message.helloca.jbi/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://message.helloca.jbi/"/>
      </output>
    </operation>
  </binding>
  <service name="MessageEJBService">
    <port name="MessageEJBPort" binding="tns:MessageEJBPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

