appserver/tests/appserv-tests/devtests/webservice/wsi-sampleapp/wsdls/LoggingFacility.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--

    DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS HEADER.

    Copyright (c) 2002-2017 Oracle and/or its affiliates. All rights reserved.

    The contents of this file are subject to the terms of either the GNU
    General Public License Version 2 only ("GPL") or the Common Development
    and Distribution License("CDDL") (collectively, the "License").  You
    may not use this file except in compliance with the License.  You can
    obtain a copy of the License at
    https://oss.oracle.com/licenses/CDDL+GPL-1.1
    or LICENSE.txt.  See the License for the specific
    language governing permissions and limitations under the License.

    When distributing the software, include this License Header Notice in each
    file and include the License file at LICENSE.txt.

    GPL Classpath Exception:
    Oracle designates this particular file as subject to the "Classpath"
    exception as provided by Oracle in the GPL Version 2 section of the License
    file that accompanied this code.

    Modifications:
    If applicable, add the following below the License Header, with the fields
    enclosed by brackets [] replaced by your own identifying information:
    "Portions Copyright [year] [name of copyright owner]"

    Contributor(s):
    If you wish your version of this file to be governed by only the CDDL or
    only the GPL Version 2, indicate your decision by adding "[Contributor]
    elects to include this software in this distribution under the [CDDL or GPL
    Version 2] license."  If you don't indicate a single choice of license, a
    recipient has the option to distribute your version of this file under
    either the CDDL, the GPL Version 2 or to extend the choice of license to
    its licensees as provided above.  However, if you add GPL Version 2 code
    and therefore, elected the GPL Version 2 license, then the option applies
    only if the new code is made subject to such option by the copyright
    holder.

-->

<wsdl:definitions 
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
		xmlns:xs="http://www.w3.org/2001/XMLSchema" 
		xmlns:log="http://www.ws-i.org/SampleApplications/SupplyChainManagement/2002-08/LoggingFacility.xsd" 
		xmlns:tns="http://www.ws-i.org/SampleApplications/SupplyChainManagement/2002-08/LoggingFacility.wsdl" 
		targetNamespace="http://www.ws-i.org/SampleApplications/SupplyChainManagement/2002-08/LoggingFacility.wsdl" 
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:documentation>
      This WSDL document describes the LoggingFacility service for the WS-I Basic Sample Application. This
      service is part of a supply chain management system. It is used to demonstrate a web service that is
      conformant with the Basic Profile and to show how different web service platforms can interoperate.
		</wsdl:documentation>

	<wsdl:types>
	  <xs:schema>
  	    <xs:import namespace="http://www.ws-i.org/SampleApplications/SupplyChainManagement/2002-08/LoggingFacility.xsd" schemaLocation="LoggingFacility.xsd"/>
	  </xs:schema>
	</wsdl:types>

	<wsdl:message name="logEventRequest">
		<wsdl:part name="Document" element="log:logEventRequestElement"/>
	</wsdl:message>

	<wsdl:message name="getEventsRequest">
		<wsdl:part name="Document" element="log:getEventsRequestElement"/>
	</wsdl:message>

	<wsdl:message name="getEventsResponse">
		<wsdl:part name="Document" element="log:getEventsResponseElement"/>
	</wsdl:message>

	<wsdl:message name="getEventsRepositoryMissingFault">
		<wsdl:part name="Document" element="log:getEventsFaultElement"/>
	</wsdl:message>

	<wsdl:portType name="LoggingFacilityLogPortType">
		<wsdl:operation name="logEvent">
			<wsdl:documentation>Append an entry to the system log.</wsdl:documentation>
			<wsdl:input message="tns:logEventRequest"/>
		</wsdl:operation>
		<wsdl:operation name="getEvents">
			<wsdl:documentation>Retrieve entries from the system log with the specified userId.</wsdl:documentation>
			<wsdl:input message="tns:getEventsRequest"/>
			<wsdl:output message="tns:getEventsResponse"/>
			<wsdl:fault name="RepositoryMissingFault" message="tns:getEventsRepositoryMissingFault"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="LoggingFacilitySoapBinding" type="tns:LoggingFacilityLogPortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
		<wsdl:operation name="logEvent">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="getEvents">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="RepositoryMissingFault">
				<soap:fault use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
</wsdl:definitions>

<!--
The following is an example of a SOAP message compliant with the above WSDL for the logEvent request:

<s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/">
  <s:Body>
    <m:logEventRequestElement xmlns:m="http://www.ws-i.org/SampleApplications/SupplyChainManagement/2002-08/LoggingFacility.xsd">
      <m:DemoUserID>My Id is 72+1111,AF37C.sdsdsd</m:DemoUserID>
      <m:ServiceID>WarehouseA:http://www.ws-i.org/SA/Warehouse.asmx</m:ServiceID>
      <m:EventID>3</m:EventID>
      <m:EventDescription>Initiating operation ShipGoods.</m:EventDescription>
      <d:Detail xmlns:d="http://my/namespace/">
        <d:Customer>D22845-W8N349Y-tky</d:Customer>
        <d:ProductId>123123123</d:ProductId>
        <d:Quantity>12</d:Quantity>
      </d:Detail>
    </m:logEventRequestElement>
  </s:Body>
</s:Envelope>


The following is an example of a SOAP message compliant with the above WSDL for the getEvents request:

<s:Envelope xmlns:s="http://schemas.xmlsoap.org/envelope/">
  <s:Body>
    <m:getEventsRequestElement xmlns:m="http://www.ws-i.org/SampleApplications/SupplyChainManagement/2002-08/LoggingFacility.xsd">
      <m:DemoUserID>My Id is 72+1111,AF37C.sdsdsd</m:DemoUserID>
    </m:getEventsRequestElement>
  </s:Body>
</s:Envelope>


The following is an example of a SOAP message compliant with the above WSDL for the getEvents response:

<s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/">
  <s:Body>
    <m:getEventsResponseElement xmlns:m="http://www.ws-i.org/SampleApplications/SupplyChainManagement/2002-08/LoggingFacility.xsd">
      <m:LogEntry>
        <m:Timestamp>2002-08-09T13:45:51</m:Timestamp>
        <m:ServiceID>WarehouseA:http://www.ws-i.org/SA/Warehouse.asmx</m:ServiceID>
        <m:EventID>3</m:EventID>
        <m:EventDescription>Initiating operation ShipGoods.</m:EventDescription>
        <d:Detail xmlns:d="http://my/namespace/">
          <d:Customer>D22845-W8N349Y-tky</d:Customer>
          <d:ProductId>123123123</d:ProductId>
          <d:Quantity>12</d:Quantity>
        </d:Detail>
      </m:LogEntry>
      <m:LogEntry>
        <m:Timestamp>2002-08-09T13:47:04</m:Timestamp>
        <m:ServiceID>WarehouseA:http://www.ws-i.org/SA/Warehouse.asmx</m:ServiceID>
        <m:EventID>4</m:EventID>
        <m:EventDescription>Completing operation ShipGoods.</m:EventDescription>
      </m:LogEntry>
    </m:getEventsResponseElement>
  </s:Body>
</s:Envelope>

-->
