v2/appserv-tests/devtests/webservice/annotations/client-handler-1/SubtractNumbers.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions name="SubtractNumbers"  targetNamespace="http://duke.org" xmlns:tns="http://duke.org"
    xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<types>
            <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://duke.org">

                <complexType name="subtractNumbersResponse">
                    <sequence>
                        <element name="return" type="xsd:int" />
                    </sequence>
                </complexType>
                <element name="subtractNumbersResponse" type="tns:subtractNumbersResponse" />

                <complexType name="subtractNumbers">
                    <sequence>
                        <element name="arg0" type="xsd:int" />
                        <element name="arg1" type="xsd:int" />
                    </sequence>
                </complexType>
                <element name="subtractNumbers" type="tns:subtractNumbers" />
            </xsd:schema>
	</types>
	<message name="subtractNumbers">
            <part name="parameters" element="tns:subtractNumbers" />
	</message>
	<message name="subtractNumbersResponse">
            <part name="result" element="tns:subtractNumbersResponse" />
	</message>
	<portType name="SubtractNumbersPortType">
            <operation name="subtractNumbers">
                <input message="tns:subtractNumbers" name="subtract"/>
                <output message="tns:subtractNumbersResponse" name="subtractResponse"/>
            </operation>
	</portType>
	<binding name="SubtractNumbersBinding" type="tns:SubtractNumbersPortType">
            <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
            <operation name="subtractNumbers">
                <soap:operation soapAction="" />
                <input>
                    <soap:body use="literal" />
                </input>
                <output>
                    <soap:body use="literal" />
                </output>
            </operation>
	</binding>
	<service name="SubtractNumbersService">
            <port name="SubtractNumbersPortType" binding="tns:SubtractNumbersBinding">
                <soap:address location="REPLACE_WITH_ACTUAL_URL" />
            </port>
	</service>
</definitions>
