v2/admin/validator/tests/com/sun/enterprise/config/serverbeans/validation/foo.rng

<grammar xmlns='http://relaxng.org/ns/structure/1.0'>
  <define name='top'>
    <element name='top'>
      <ref name='system-property'/>
      <attribute name='id'>
	<value>VALUE</value>
      </attribute>
    </element>
  </define>
  <define name='system-property'>
    <element name='system-property'>
      <empty/>
      <attribute name='name'/>
      <attribute name='value'/>
    </element>
  </define>
  <start>
    <ref name='top'/>
  </start>
</grammar>
