appserver/tests/v2-tests/appserv-tests/devtests/webservice/jbi-serviceengine/inout-sample/soap-binding-su-alaska/su/AdderService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://example.web.service/Adder" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="add" type="ns1:add" xmlns:ns1="http://example.web.service/Adder"/>

  <xs:complexType name="add">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
      <xs:element name="arg1" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

