appserver/tests/v2-tests/appserv-tests/devtests/webservice/jbi-serviceengine/ejb-jmsbc/provider/jms-binding-su/su/HelloEJBService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://endpoint/ejb" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="sayHello" type="ns1:sayHello" xmlns:ns1="http://endpoint/ejb"/>

  <xs:complexType name="sayHello">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="sayHelloResponse" type="ns2:sayHelloResponse" xmlns:ns2="http://endpoint/ejb"/>

  <xs:complexType name="sayHelloResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

