appserver/tests/v2-tests/appserv-tests/devtests/webservice/jbi-serviceengine/server/ejb/hello/another_ejb/soap-binding-su-alaska/su/HiEJBService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://endpoint/jaxws" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="sayHi" type="ns1:sayHi" xmlns:ns1="http://endpoint/jaxws"/>

  <xs:complexType name="sayHi">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="sayHiResponse" type="ns2:sayHiResponse" xmlns:ns2="http://endpoint/jaxws"/>

  <xs:complexType name="sayHiResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

