v2/appserv-tests/devtests/webservice/wls_dd/wsdl_exposed_false/schema1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.2-hudson-54-. -->
<xs:schema xmlns:tns="http://endpoint.wsdl_exposed_false.wls_dd/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://endpoint.wsdl_exposed_false.wls_dd/">

<xs:element name="addNumbers" type="tns:addNumbers"/>

<xs:element name="addNumbersResponse" type="tns:addNumbersResponse"/>

<xs:complexType name="addNumbers">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addNumbersResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>