v2/appserv-tests/devtests/webservice/annotations/wsdltojava/HttpTestService.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions name="HttpTestService" 
	targetNamespace="http://httptestservice.org/wsdl" 
	xmlns:tns="http://httptestservice.org/wsdl" 
	xmlns="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:ns="http://httptestservice.org/types" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <schema targetNamespace="http://httptestservice.org/types" 
	xmlns:tns="http://httptestservice.org/types" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns="http://www.w3.org/2001/XMLSchema">
      <complexType name="HelloRequest">
        <sequence>
          <element name="string" type="string" nillable="true"/>
       </sequence>  
      </complexType>
      <complexType name="HelloResponse">
        <sequence>
          <element name="string" type="string" nillable="true"/>
        </sequence>
      </complexType>
      <complexType name="HelloOneWay">
        <sequence>
          <element name="string" type="string" nillable="true"/>
	</sequence>
      </complexType>
    </schema>
  </types>
  <message name="Hello_helloRequest">
    <part name="parameters" type="ns:HelloRequest"/>
  </message>
  <message name="Hello_helloResponse">
    <part name="result" type="ns:HelloResponse"/>
  </message>
  <message name="Hello_helloOneWay">
    <part name="parameters" type="ns:HelloOneWay"/>
  </message>
  <portType name="Hello">
    <operation name="hello">
      <input message="tns:Hello_helloRequest"/>
      <output message="tns:Hello_helloResponse"/>
    </operation>
    <operation name="helloOneWay">
      <input message="tns:Hello_helloOneWay"/>
    </operation>
  </portType>
  <binding name="HelloBinding" type="tns:Hello">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="hello">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://httptestservice.org/wsdl"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://httptestservice.org/wsdl"/>
      </output>
    </operation>
    <operation name="helloOneWay">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://httptestservice.org/wsdl"/>
      </input>
    </operation>
  </binding>
  <service name="HttpTestService">
    <port name="HelloPort" binding="tns:HelloBinding">
      <soap:address location="http://localhost:8080/wsdltojava/ws4ee"/>
    </port>
  </service>
</definitions>
