v2/jaxr-ri/src/java/com/sun/xml/registry/common/tools/resources/jaxrconcepts.xsd

<?xml version="1.0"?>

<!--
 The contents of this file are subject to the terms 
 of the Common Development and Distribution License 
 (the License).  You may not use this file except in
 compliance with the License.
 
 You can obtain a copy of the license at 
 https://glassfish.dev.java.net/public/CDDLv1.0.html or
 glassfish/bootstrap/legal/CDDLv1.0.txt.
 See the License for the specific language governing 
 permissions and limitations under the License.
 
 When distributing Covered Code, include this CDDL 
 Header Notice in each file and include the License file 
 at glassfish/bootstrap/legal/CDDLv1.0.txt.  
 If applicable, add the following below the CDDL Header, 
 with the fields enclosed by brackets [] replaced by
 you own identifying information: 
 "Portions Copyrighted [year] [name of copyright owner]"
 
 Copyright 2007 Sun Microsystems, Inc. All rights reserved.
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:element name="JAXRClassificationScheme"><xsd:complexType><xsd:sequence><xsd:element ref="JAXRConcept" minOccurs="0" maxOccurs="unbounded"/></xsd:sequence><xsd:attribute name="name" type="xsd:string" use="required"/><xsd:attribute name="description" type="xsd:string"/><xsd:attribute name="id" type="xsd:string" use="required"/></xsd:complexType></xsd:element><xsd:element name="PredefinedConcepts"><xsd:complexType><xsd:sequence><xsd:element ref="JAXRClassificationScheme" minOccurs="0" maxOccurs="unbounded"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="JAXRConcept"><xsd:complexType><xsd:sequence><xsd:element ref="JAXRConcept" minOccurs="0" maxOccurs="unbounded"/></xsd:sequence><xsd:attribute name="name" type="xsd:string" use="required"/><xsd:attribute name="parent" type="xsd:string" use="required"/><xsd:attribute name="code" type="xsd:string"/><xsd:attribute name="id" type="xsd:string" use="required"/></xsd:complexType></xsd:element><xsd:element name="Command"><xsd:complexType><xsd:sequence><xsd:element ref="JAXRClassificationScheme" minOccurs="0" maxOccurs="unbounded"/><xsd:element ref="JAXRConcept" minOccurs="0" maxOccurs="unbounded"/><xsd:element ref="namepattern" minOccurs="0" maxOccurs="unbounded"/></xsd:sequence><xsd:attribute name="commandname" type="xsd:string" use="required"/><xsd:attribute name="path" type="xsd:string"/></xsd:complexType></xsd:element><xsd:element name="namepattern"><xsd:complexType mixed="true"/></xsd:element><xsd:element name="Result"><xsd:complexType><xsd:sequence><xsd:element ref="JAXRClassificationScheme" minOccurs="0" maxOccurs="unbounded"/><xsd:element ref="JAXRConcept" minOccurs="0" maxOccurs="unbounded"/></xsd:sequence><xsd:attribute name="status" type="xsd:string" use="required"/><xsd:attribute name="error" type="xsd:string"/><xsd:attribute name="commandname" type="xsd:string" use="required"/></xsd:complexType></xsd:element></xsd:schema>