appserver/tests/v2-tests/appserv-tests/devtests/webservice/jbi-serviceengine/jax-rpc/provider-oneway/soap-binding-su-alaska/su/FindInterest_Schema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://hello.org/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="calculateInterest" type="ns1:calculateInterest" xmlns:ns1="http://hello.org/wsdl"/>

  <xs:complexType name="calculateInterest">
    <xs:sequence>
      <xs:element name="arg0" type="xs:double"/>
      <xs:element name="arg1" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

